<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <hr>
        件数(5件)
        <hr>
        <div>
            1/17<br>
            (日)
        </div>
        <div>
            <p>
                9:00~<br>
                17:00
            </p>
            <p>
                対象年齢<br>
                1~6歳
            </p>
        </div>
        <div>
            <img src=""  alt="hoge">
        </div>
        <div>
            <p>
                開催団体 wiz保育部<br>
                <b>水族館で生物と触れ合おう!</b><br>
            </p>
            <p>
                郡山シーパラダイス 郡山神保町2丁目32
            </p>
            9/27 人
        </div>
    </div>
</body>

</html>