<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>イベント一覧</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <div>
        <div id='center' class="main center">
            <div class="container">
            <div align="left">        
    <h2>件数(５件)</h2>
        <div class="row">
                  <div class="col-md-5">
                    <div>
                        <h4><b>水族館で生物と触れ合おう!</b></h4>
                    </div>
            <img src="../../img/SHI1987004.jpeg" class="img-fluid img-thumbnail"  
            style="width:480px;height:180px;object-fit: cover;" alt="">
        </div>
        <div class="col-md-6">
<br>
<br>
            <div>
                <b>・開催団体</b>：wiz保育部
                </div>
                <br>
                <div>
                    <b>・開催場所</b>：郡山シーパラダイス 郡山神保町2丁目32
                </div>
                <br>
            <div>
                        <b>・日付/時間</b>：1/7(日) 9:00~17:00
                </div>
<br>
                <div>     
                    <b>・対象年齢</b>：1~6歳
                </div>
        </div>
</div>
<div class="col-md-12">
    <h3 align = right>9/27 人</h3>
</div>
<h2></h2>
</div>  
</div>
<div id='center' class="main center">
    <div class="container">
        <div class="row">
                  <div class="col-md-5">
                    <div>
                        <h4><b>水族館で生物と触れ合おう!</b></h4>
                    </div>
            <img src="../../img/SHI1987004.jpeg" class="img-fluid img-thumbnail"  
            style="width:480px;height:180px;object-fit: cover;" alt="">
        </div>
        <div class="col-md-6">
<br>
<br>
            <div>
                <b>・開催団体</b>：wiz保育部
                </div>
                <br>
                <div>
                    <b>・開催場所</b>：郡山シーパラダイス 郡山神保町2丁目32
                </div>
                <br>
            <div>
                        <b>・日付/時間</b>：1/7(日) 9:00~17:00
                </div>
<br>
                <div>     
                    <b>・対象年齢</b>：1~6歳
                </div>
        </div>
</div>
<div class="col-md-12">
    <h3 align = right>9/27 人</h3>
</div>
<h2></h2>
</div>  
</div>
    </div>
  {include file="../../components/footer.tmpl"}
  <script src="/~j2020tmD/sources/front/js/main.js"></script>

  <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/~j2020tmD/sources/front/js/main.js"></script>
</body>

</html>