<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者admin</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <h3>渡辺花子さんのフォロー・フォロワー</h3>
    <input type="button" value="フォロー(３０人)"><input type="button" value="フォロワー(２５人)">
    <div>
        <img src="hoge" alt="プロ画" align="left">
        <p>村上亮太</p>
        学校で教師やってます
        <hr>
    </div>

    <div>
        <img src="hoge" alt="プロ画" align="left">
        <p>矢吹聖矢</p>
        学校で教師やってました
        <hr>
    </div>
    {include file="../../components/footer.tmpl"}
</body>

</html>