<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>通知</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <input type="text" style="width: 1000px; height: 30px;" value="運営　ご予約いただいた水族館で生物と触れ合おう！開催まであと2日となりました。        14:00"><br>
    <input type="text" style="width: 1000px; height: 30px;" value="運営　＊重要　ご予約いただいたイベントについて                                      10:00">
    {include file="../../components/footer.tmpl"}
</body>

</html>