<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/~j2020tmD/sources/assets/img/favicon.png" rel="icon">
  <link href="/~j2020tmD/sources/assets//img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/venobox/venobox.css" rel="stylesheet">

  

  <!-- Template Main CSS File -->
  <link href="/~j2020tmD/sources/assets/css/az.css" rel="stylesheet">
     <link href="/~j2020tmD/sources/assets/css/bootstrap.min.css" rel="stylesheet">
     <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
     <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
     <link rel="stylesheet" href="/~j2020tmD/sources/front/css/front.css">

  
  
    <title>通知</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br><br><br><br>
    <div id='center' class="main center">
            <div class="container">
                <div align="left"> 
                    <h1>新着画面</h1>
                    <hr>
                    <!--<input type="text" style="width: 1000px; height: 30px;" value="運営　ご予約いただいた水族館で生物と触れ合おう！開催まであと2日となりました。        14:00"><br>
                    <input type="text" style="width: 1000px; height: 30px;" value="運営　＊重要　ご予約いただいたイベントについて                                     10:00">-->
                    <section id="why-us" class="wow fadeIn">
                        <div class="container">
                          
                          <div class="row row-eq-height justify-content-center">
                            <div class="col-lg-12 mb-4">
                              <div class="card wow bounceInUp">
                                <div class="card-body">
                                  <table class="table01 table table-bordered table-hover" style="color: white">
                                                    <tr class="odd first">
                                      <th class="text-center">2020-08-24</th>
                                      <td class="text-left">メンテナンスのお知らせ</td>
                                    </tr>
                                                      <tr class="odd first">
                                      <th class="text-center">2020-08-21</th>
                                      <td class="text-left">メンテナンスのお知らせ</td>
                                    </tr>
                                                      <tr class="odd first">
                                      <th class="text-center">2020-08-10</th>
                                      <td class="text-left">メンテナンスのお知らせ</td>
                                    </tr>
                                                      <tr class="odd first">
                                      <th class="text-center">2020-08-05</th>
                                      <td class="text-left">メンテナンスのお知らせ</td>
                                    </tr>
                                                      <tr class="odd first">
                                      <th class="text-center">2020-08-03</th>
                                      <td class="text-left">メンテナンスのお知らせ</td>
                                    </tr>
                                                    </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                  
                </div>
            </div>
    </div>
    <br>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

    <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>
    {include file="../../components/footer.tmpl"}
</body>

</html>