<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="../../img/wakaba.png">  
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/~j2020tmD/sources/front/css/Profile.css">
    <script type="text/javascript" src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>


    <title>わかばくらぶ</title>

    {literal}
    <script type="text/javascript">
    <!--
    function set_func_form(fn,pm){
        document.form1.target = "_self";
        document.form1.func.value = fn;
        document.form1.param.value = pm;
        document.form1.submit();
    }
    function check(){
    var err = "";
    if (form1.pw.value != ""){
        if(form1.pw.value != form1.repw.value){
        err = "パスワードの値が一致しません"
        }
    }
    if (err == ""){
    set_func_form('confirm','');
    }else{
        alert(err);
    }
    }


    $(function(){
    //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
    $('form').on('change', 'input[type="file"]', function(e) {
        var file = e.target.files[0],
            reader = new FileReader(),
            $preview = $(".preview");
            t = this;

        // 画像ファイル以外の場合は何もしない
        if(file.type.indexOf("image") < 0){
        return false;
        }

        // ファイル読み込みが完了した際のイベント登録
        reader.onload = (function(file) {
        return function(e) {
            //既存のプレビューを削除
            $preview.empty();
            // .prevewの領域の中にロードした画像を表示するimageタグを追加
            $preview.append($('<img>').attr({
                    src: e.target.result,
                    width: "200px",
                    class: "preview",
                    title: file.name
                }));
        };
        })(file);

        reader.readAsDataURL(file);
    });

    });

    $(document).ready(function(){
    //画像が入っていなかった場合は表示させない
    {/literal}{if $user.profile_img != ''}{literal}
    $preview = $(".preview");
    $preview.append($("<img src='{/literal}{$imgDir}{$user.profile_img}{literal}' width='200'>"));
    {/literal}{/if}{literal}

    });

    // -->
    </script>
    {/literal}


</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">
        <div class="container">
    <div align="left">
        <h1>プロフィールの変更</h1>
    </div>
        <hr> 

        <div align = "center">
    <form name="form1" method="post" action="" enctype="multipart/form-data">
        <table width="700" height="200" border="1">
            <tr>
                <th  class="p-3 mb-2 bg-white text-dark">
                    ユーザー名
                    <p>＊ニックネーム可</p>
                </th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50"><input type="text" name="user_name" placeholder="ユーザー名" value={$user.user_name|escape} size="40"></td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">ユーザーID</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50"><input type="text" name="user_id" placeholder="ユーザーID" value={$user.user_id|escape} size="40"></td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">メールアドレス</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50"><input type="email" name="address" placeholder="メールアドレス" value={$user.address|escape} size="40"></td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">PW</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50">

                <input type="password" name="pw" placeholder="パスワードを変更する場合は入力してください" value="" size="40">

                </td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">PWの再確認</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50">
                <input type="password" name="repw" placeholder="もう一度入力してください" value="" size="40">
                </td>
            </tr>
            <tr>
            <th class="p-3 mb-2 bg-white text-dark"class="p-3 mb-2 bg-white text-dark">生年月日</th>
            <td class="p-3 mb-2 bg-white text-dark" width="120" height="50">
                <input type="date" name="birthday" placeholder="生年月日" value={$user.birthday} size="40">
                </td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">プロフィール画像</th>
                {if $user.profile_img != ''}

                <td class="p-3 mb-2 bg-white text-dark" width="120" height="100">
                {/if}
                <div class="preview" ></div>


                <br>
                <input type="hidden" name="profile_img" value="{$user.profile_img|escape}" />
                <br>
                <input type="file" name="profile_img" accept="image/jpeg,image/png,image/gif">
                </td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">趣味</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50"><input type="text" name="hobby" placeholder="趣味" value={$user.hobby|escape} size="40"></td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">お子様の名前
                    <p>＊ニックネーム可</p>
                </th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="50"><input type="text" value="渡辺太郎" size="40"></td>
            </tr>
            <tr>
                <th class="p-3 mb-2 bg-white text-dark">自己紹介</th>
                <td class="p-3 mb-2 bg-white text-dark" width="120" height="80"><textarea class = "textarea" name="profile_content" id="" cols="50" rows="10">{$user.profile_content|escape}</textarea></td>
            </tr>
        </table>
            <input type="hidden" name="func" value="" />
            <input type="hidden" name="param" value="" />
        </form>
<br>
<hr>
        <p>
<div class="row">
            <div class="col-md-5">
                <div align="right">
            <input type="button" class="btn btn-outline-primary btn-lg" value="+お子様の追加" onclick="history.back()">
            </div>
            </div>
            <div class="col-md-5">
                <div align="center">
                <input type="button" class="btn btn-outline-primary btn-lg" name="btn_confirm" value="確認" onclick="javascript:check()">
                </div>
            </div>
</div>
            </p>

<br>
    </div>
        </div>
    </div>

</body>
{include file="../../components/footer.tmpl"}

<script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/~j2020tmD/sources/front/js/main.js"></script>

</html>