<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {include file="../../components/header.tmpl"}
  <img src="" alt="プロフィール画像">

  <div style="border: solid 3px #000; width:100 px; margin: 5em; border: solid 3px #000000;">

    <p>
        ユーザID : {$userId}<br />
         名前 : {$name}<br />
         生年月日 : {$birth}<br />
         趣味 : {$interest}<br />
         フォロー : {$numOfFollow}<br />
         フォロワー : {$numOfFollower}<br />
         子供の名前 : {$nameOfChild}<br />
         子供の年齢 : {$ageOfChild}<br />
         子供の性別 : {$genderOfChild}<br />
      <a href="profile_edit.php">プロフィールの変更</a>
    </p>

  </div>

  <div style="border: solid 3px #000; width:100 px; margin: 5em; border: solid 3px #000000;">

    {$introduce}

  </div>

  <table border="1">

    <tr>
      <td> <a href="event_list.php">ブックマーク</a> </td>
    </tr>
    <tr>
      <td> <a href="event_list.php">予約内容の確認</a> </td>
    </tr>
    <tr>
      <td> <a href="event_list.php">イベントの編集</a> </td>
    </tr>
    <tr>
      <td> <a href="newmessage.php">通知</a> </td>
    </tr>
    <tr>
      <td> <a href="event_list.php">過去に参加したイベント</a> </td>
    </tr>
    <tr>
      <td> <a href="Withdrawal.php">退会</a> </td>
    </tr>
  </table>

  <p> sns連携 </p>
  {include file="../../components/footer.tmpl"}
</body>
</html>