<!DOCTYPE html>
<html lang="ja">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>退会</title>
    
</head>

<body>
<font size="6"  color="red">退会の手続き</font><br>
<p>こちらは当サイトの会員退会画面です<br>
＊退会すると下記機能が使用できなくなります。</p>
<p>・イベントの予約(参加)<br>
・新規イベントの作成<br>
・プロフィール機能</p>


        <input type="button" style="width: 200px; height: 30px;" value="本当に退会しますか？"><br><br>
        <input type="button" style="width: 200px; height: 30px;" value="退会をやめる">
       
  
</body>

</html>