<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>退会</title>
    <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/~j2020tmD/sources/assets/img/favicon.png" rel="icon">
  <link href="/~j2020tmD/sources/assets//img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">

  <!-- Template Main CSS File -->
     <link href="/~j2020tmD/sources/assets/css/style.css" rel="stylesheet">
    
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br><br><br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left"> 
            <h1><font color="red">退会の手続き</font></h1>
            <hr> <br>
    <p>こちらは当サイトの会員退会画面です<br>
        <span style="color: red;">＊退会すると下記機能が使用できなくなります。</span></p>
    <p>・イベントの予約(参加)<br>
    ・新規イベントの作成<br>
    ・プロフィール機能</p>

    <div class="row">
        <div class="col-md-11">
      <div align="center">
    <div>
        <a href="" class="btn btn-outline-primary btn-lg">本当に退会しますか？</a>
        <a href="" class="btn btn-outline-primary btn-lg">退会をやめる</a>
      </div>
      </div>
      </div>
      </div>
    <!--<input type="button" style="width: 200px; height: 30px;" value="本当に退会しますか？"><br><br>
    <input type="button" style="width: 200px; height: 30px;" value="退会をやめる">-->
    </div>
    </div>
    </div>
    {include file="../../components/footer.tmpl"}
</body>


</html>