<!DOCTYPE html>
<html lang="ja">
<title>管理者詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

function check(){
  var err = "";
  if (form1.pw.value != ""){
    if(form1.pw.value != form1.repw.value){
      err = "パスワードの値が一致しません"
    }
  }
  if (err == ""){
  set_func_form('confirm','');
  }else{
    alert(err);
  }
}
// -->
</script>
{/literal}



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="css/admin_base.css">
        <link rel="stylesheet" href="css/user_list.css">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  {include file="../components/Side_Menu.tmpl"}
        
  <!--<div id="main">-->
  <div id = "center" class ="main center">
   <div class="container">
    <div align = "center">
      <h3>管理者詳細</h3>

  <form name="form1" method="post" action="">
  <table>

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="id" value={$rows.id} readonly>
    </td>
  </tr>

  <tr>
    <th>ユーザーID</th>
    <td>
      <input type="text" name="user_id" placeholder="ユーザーID" value={$rows.user_id}>
    </td>
  </tr>

  <tr>
    <th>ADMIN ID</th>
    <td>
      <input type="text" name="admin_id" placeholder="ADMIN ID" value={$rows.admin_id}>
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <input type="text" name="user_name" placeholder="ユーザー名" value={$rows.user_name}>
    </td>
  </tr>

  <tr>
    <th>PW</th>
    <td>
      <input type="password" name="pw" placeholder="パスワードを変更する場合入力してください" value="">
    </td>
  </tr>

  <tr>
    <th>PWの再確認</th>
    <td>
      <input type="password" name="repw" placeholder="もう一度入力してください" value="">
    </td>
  </tr>


  <tr>
    <th>メールアドレス</th>
    <td>
      <input type="text" name="address" placeholder="メールアドレス" value={$rows.address}>
    </td>
  </tr>

  <tr>
    <th>権限</th>
    <td>
      <input type="radio" name="authority" value="0" {if $rows.authority == 0 }checked="checked"{/if} />READ ONLY
      <input type="radio" name="authority" value="1" {if $rows.authority == 1 }checked="checked"{/if} />ADMIN
    </td>
  </tr>

</table>
    <input type="hidden" name="func" value="" />
    <input type="hidden" name="param" value="" />
</form>
<div>
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" onClick="javascript:check()"  value="確認">
</div>

</body>
</html>
