<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>管理者詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

// -->
</script>
{/literal}
</head>
<body>
  {include file="../components/Side_Menu.tmpl"}
        
         <!--<div id="main">-->
         <div id = "center" class ="main center">
          <div class="container">
           <div align = "center">
    <h3>管理者詳細</h3>

<form name="form1" method="post" action="">
<table>

  <tr>
    <th>ID</th>
    <td>
      <p>{$smarty.post.id}</p>
      <input type="hidden" name="id"  value="{$smarty.post.id|escape}" />
    </td>
  </tr>

  <tr>
    <th>ユーザーID</th>
    <td>
    <p>{$smarty.post.user_id}</p>
      <input type="hidden" name="user_id"  value="{$smarty.post.user_id|escape}" />
    </td>
  </tr>

  <tr>
    <th>ADMIN ID</th>
    <td>
      <p>{$smarty.post.admin_id}</p>
      <input type="hidden" name="admin_id"  value="{$smarty.post.admin_id|escape}" />
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
    <p>{$smarty.post.user_name}</p>
      <input type="hidden" name="user_name"  value="{$smarty.post.user_name|escape}" />
    </td>
  </tr>

  <tr>
    <th>PW</th>
    <td>
    <p>{$smarty.post.pw}</p>
      <input type="hidden" name="pw"  value="{$smarty.post.pw|escape}" />
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p>{$smarty.post.address}</p>
      <input type="hidden" name="address"  value="{$smarty.post.address|escape}" />
    </td>
  </tr>

  <tr>
    <th>権限</th>
    <td>
      <p>
      {if $smarty.post.authority}
      ADMIN
      {else}
      READ ONLY
      {/if}
      </p>
      <input type="hidden" name="authority"  value="{$smarty.post.authority|escape}" />
    </td>
  </tr>

  </table>

  <input type="hidden" name="func" value="" />
  <input type="hidden" name="param" value="" />
</form>

<div>
  <input class="btn btn-secondary btn-lg" name="btn_back" onClick="javascript:set_func_form('edit','')" value="戻る">
  <input class="btn btn-secondary btn-lg" name="btn_submit" onClick="javascript:set_func_form('set','')"  value="更新">
</div>

</body>
</html>
