<!DOCTYPE>
<html lang="ja">
<head>
<title>管理者詳細</title>
{literal}
<script type="text/javascript">
<!--
    function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

// -->
</script>
{/literal}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="css/admin_base.css">
  <link rel="stylesheet" href="css/user_list.css">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
{include file="../components/header.tmpl"}

  <h2>管理者詳細</h2>
  <form name="form1" method="post" action="">
  <table border="1" align="center" width="500px">
    <tr>
      <th>ID</th>
      <td>
        <input type="text" name="id" value={$smarty.post.id|escape} readonly>
      </td>
    </tr>
    <tr>
        <th>ユーザーID</th>
        <td>
          <input type="text" name="user_id" value={$smarty.post.user_id|escape} readonly>
        </td>
    </tr>
    <tr>
        <th>ランク</th>
        <td>
          <input type="text" name="degree_risk" value={$smarty.post.degree_risk|escape} readonly>
        </td>
    </tr>
    <tr>
      <th>報告件数</th>
      <td>
        <input type="text" name="report_number"value={$smarty.post.report_number|escape} >
      </td>
    </tr>

    <tr>
      <th>理由</th>
      <td>
      <input type="textarea" name="reason" value={$smarty.post.reason|escape}>
      </td>
    </tr>

  </table>
    <input type="hidden" name="func" value="" />
    <input type="hidden" name="param" value="" />
    <input type="button" class="btn btn-primary" name="btn_back" onClick="javascript:set_func_form('edit','')" style="position: absolute; left: 45%; top: 110%" value="戻る">
	<input type="button" class="btn btn-primary" name="btn_submit" onClick="javascript:set_func_form('set','')" style="position: absolute; left: 55%; top: 110%" value="更新">
  </form>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>

</html>
