<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="">
  </head>

<h1>ブラックリスト</h1>
<body>
{include file="../components/header.tmpl"}
<table border="1" align="center" width="500px">
<tbody>
<tr><th>ユーザー名</th><th>通報数<th colspan="2">操作</th></tr>
<tr><th>さぶろう</th><th>5</th><td align="center"><input type="submit" name="kousin" onclick="location.href='Blacklist_Edit.php'" value="編集"></td><td align="center"><input type="submit" name="sakujo" onclick="location.href='Blacklist_Delete.php'" value="削除"></td></tr>
<tr><th>よしお</th><th>5</th><td align="center"><input type="submit" name="kousin" onclick="location.href='Blacklist_Edit.php'" value="編集"></td><td align="center"><input type="submit" name="sakujo" onclick="location.href='Blacklist3.Delete'" value="削除"></td></tr></tbody>
</table>
{include file="../components/footer.tmpl"}
</body>
</html>
