<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../css/admin_base.css">
    <link rel="stylesheet" href="../css/user_list.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>管理者admin</title>
  </head>
  <title>管理者詳細</title>
  {literal}
  <script type="text/javascript">
  <!--
  function set_func_form(fn,pm){
    document.form1.target = "_self";
    document.form1.func.value = fn;
    document.form1.param.value = pm;
    document.form1.submit();
  }
  
  
  // -->
  </script>
  {/literal}
</head>
    
<body>
  {include file="../components/Side_Menu.tmpl"}
        
  <!--<div id="main">-->
  <div id = "center" class ="main center">
   <div class="container">
    <div align = "center">
  <h2>ブラックリスト詳細</h2>
  <form name="form1" method="post" action="">
  <table>
    <tr>
      <td>ID</td>
      <td>
        <input type="text" name="id" value={$rows.id} readonly>
      </td>
    </tr>
    <tr>
        <td>ユーザーID</td>
        <td>
          <input type="text" name="user_id" value={$rows.user_id} readonly>
        </td>
    </tr>
    <tr>
        <td>ランク</td>
        <td>
          <input type="text" name="degree_risk" value={$rows.degree_risk} readonly>
        </td>
    </tr>
    <tr>
      <td>報告件数</td>
      <td>
        <input type="text" name="report_number"value={$rows.report_number} >
      </td>
    </tr>
    <tr>
      <td>理由</td>
      <td>
      <input type="textarea" name="reason">
      </td>
    </tr>
    </table>
    <input type="hidden" name="func" value="" />
    <input type="hidden" name="param" value="" />
    <!--<input type="button" name="btn_confirm" onClick="javascript:set_func_form('func','')" style="position: absolute; left: 50%; top: 70%" value="確認">-->
    
    <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" onClick="javascript:set_func_form('func','')" value="確認">
  </form>

</body>

</html>