
{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE>
<html lang="ja">
<head>
<title>ブラックリスト</title>
</head>
<body>
{include file="../components/header.tmpl"}
<h1>ブラックリスト</h1>
{if $pageFlag == 1}

<p>削除が完了しました。</p>
<input type="button" onclick="location.href='Blacklist_List.php'" align="center" value="ブラックリストへ"/></button>


{else}

<form method="post" action="">

<table border="1" align="center" width="500px">

  <tr>
    <th>ID</th>
    <td>
      ID
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      ユーザー名
    </td>
  </tr>

  <tr>
    <th>危険度</th>
    <td>
      危険度
    </td>
  </tr>

  <tr>
    <th>ブラックリスト入りの理由</th>
    <td>
      ブラックリスト入りの理由
    </td>
  </tr>

</table>

	<input type="submit" name="btn_confirm" style="position: absolute; left: 50%; top: 50%" value="削除" readonly>
</form>
{/if}

{include file="../components/footer.tmpl"}
</body>
</html>
