<!DOCTYPE html>
<html lang="ja">

<head>
  <div id="main">
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>Document</title>
  {literal}
  <script type="text/javascript">

  function del_func_form(pm,mess){
      console.log("del_func");
      var message = "本当に\r\n";
      message += mess;
      message += "\r\nを削除しますか？";
      console.log(message);
      if(confirm(message)){
          document.form1.target = "_self";
          document.form1.func.value = 'del';
          document.form1.param.value = pm;
          document.form1.submit();
      }else {
        console.log('キャンセルがクリックされました');
      }
  }
  </script>
  {/literal}
</div>
</head>

<body>
  {include file="../components/Side_Menu.tmpl"}
        
         <!--<div id="main">-->
         <div id = "center" class ="main center">
          <div class="container">
           <div align = "center">
            <h3>ブラックリスト</h3>
    {$ERR_STR}
    <form name="form1" action="{$tgt_uri}" method="post" >
    <p>{$pager_arr}</p>
      <table>
        <tr>
          <th>ID</th>
          <th>ユーザーID</th>
          <th>ランク</th>
          <th>報告件数</th>
          <th colspan="2">操作</th>
        </tr>

        {foreach from=$rows key=k item=value}
        <tr>
          <td>
            {$value.id}
          </td>
          <td>
            {$value.user_id}
          </td>
          <td>
            {$value.degree_risk}
          </td>
          <td>
            {$value.report_number}
          </td>
          <td>
            <a href="./Blacklist_Edit.php?iid={$value.id}">
                <button type="button" class="btn btn-primary">詳細</button>
            </a>
          </td>
          <td>
            <button class="btn btn-primary" onclick="javascript:del_func_form({$value.id},'【ID : {$value.id} NAME : {$value.user_id}】')" >削除</button>
          </td>
        </tr>
        {foreachelse}
        <tr>
          <td colspan="3" class="nobottom">メンバーが見つかりません</td>
        </tr>
        {/foreach}
      </table>
      <input type="hidden" name="func" value="" />
      <input type="hidden" name="param" value="" />
      </form>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
