
{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/admin_base.css">
    <link rel="stylesheet" href="css/user_list.css">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>ブラックリスト</title>
</head>
<body>
  {include file="../components/Side_Menu.tmpl"}
        
  <!--<div id="main">-->
  <div id = "center" class ="main center">
   <div class="container">
    <div align = "center">
<h1>ブラックリスト</h1>
{if $pageFlag == 1}

<form method="post" action="">

  <table>

  <tr>
    <th>ID</th>
    <td>
      <p>{php} echo $_POST['id']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <p>{php} echo $_POST['name']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>危険度</th>
    <td>
      <p>{php} echo $_POST['kiken']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>ブラックリスト入りの理由</th>
    <td>
      <p align="left" valign="top">{php} echo $_POST['blacklist']; {/php}</p>
    </td>
  </tr>

  </table>

	<!--<input type="submit" name="btn_back" style="position: absolute; left: 45%; top: 50%" value="戻る">
	<input type="submit" name="btn_submit" style="position: absolute; left: 55%; top: 50%" value="更新">
  -->
</form>

<div>
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_back" value="戻る">
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_submit" value="更新">
</div>

{elseif $pageFlag == 2}

<p>更新が完了しました。</p>
<input type="button" onclick="location.href='Blacklist_List.php'" align="center" value="ブラックリストへ"/></button>


{else}

<form method="post" action="">

<!--<table border="1" align="center" width="500px">-->
  <table>

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="id" value="1" readonly>
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <input type="text" name="name" value="" placeholder="名前">
    </td>
  </tr>

  <tr>
    <th>危険度</th>
    <td>
      <input type="text" name="kiken" value="" placeholder="危険度">
    </td>
  </tr>

  <tr>
    <th>ブラックリスト入りの理由</th>
    <td>
      <textarea name="blacklist" value="" cols="40" rows="8" placeholder="理由"></textarea>
    </td>
  </tr>

</table>
<input type="hidden" name="func" value="" />
    <input type="hidden" name="param" value="" />
  <!--<input type="submit" name="btn_confirm" style="position: absolute; left: 50%; top: 50%" value="確認">-->
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" value="確認">

</form>

{/if}
</body>
</html>
