<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  {include file="../components/header.tmpl"}
  <div>
    <h1>団体</h1>
    <div align="center">
      <table border="1">
        <tr>
          <td>ID</td>
          <td>グループ名</td>
          <td>操作</td>
        </tr>

        <!-- sample1-->
        {foreach from=$rows key=k item=value}
        <tr>
          <td>
            {$value.NPO_id}
          </td>
          <td>
            {$value.group_name}
          </td>
          <td>
            <button onclick="location.href='./Contact_Detail.php?iid={$value.NPO_id}'">詳細</button>
            <button onclick="location.href='./Delete_Prev.php'">削除</button>
          </td>
        </tr>
        {foreachelse}
        <tr>
        <td colspan="3" class="nobottom">メンバーが見つかりません</td>
        </tr>
        {/foreach}
      </table>
    </div>
  </div>
  {include file="../components/footer.tmpl"}
</body>

</html>
