<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>団体詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

function check(){
  var err = "";
  if (form1.group_name.value == ""){
    err += "グループ名が入力されていません\n";
  }
  if (form1.NPO_representative.value == ""){
    err += "代表者が入力されていません\n";
  }
  if (form1.NPO_mailaddress.value == ""){
    err += "メールアドレスが入力されていません\n";
  }
  if (err == ""){
  set_func_form('confirm','');
  }else{
    alert(err);
  }
}

// -->
</script>
{/literal}
</head>
<body>
  {include file="../components/Side_Menu.tmpl"}
        
         <!--<div id="main">-->
         <div id = "center" class ="main center">
          <div class="container">
           <div align = "center">
      <h3>団体詳細</h3>

<form name="form1" method="post" action="">

<!--<table border="1" align="center" width="500px">-->
  <table>

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="NPO_id" value={$rows.NPO_id} readonly>
    </td>
  </tr>

  <tr>
    <th>グループ名</th>
    <td>
      <input type="text" name="group_name" placeholder="グループ名" value={$rows.group_name}>
    </td>
  </tr>

  <tr>
    <th>代表者</th>
    <td>
      <input type="text" name="NPO_representative" placeholder="代表者" value={$rows.NPO_representative}>
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <input type="text" name="NPO_mailaddress" placeholder="メールアドレス" value={$rows.NPO_mailaddress}>
    </td>
  </tr>

  <tr>
    <th>都道府県</th>
    <td>
    <input type="text" name="NPO_prefecture" placeholder="都道府県" value={$rows.NPO_prefecture}>
    </td>
  </tr>

  <tr>
    <th>市町村</th>
    <td>
      <input type="text" name="NPO_city" placeholder="市町村" value={$rows.NPO_city}>
    </td>
  </tr>

  <tr>
    <th>字丁目</th>
    <td>
      <input type="text" name="NPO_aza" placeholder="字丁目" value={$rows.NPO_aza}>
    </td>
  </tr>

  <tr>
    <th>郵便番号</th>
    <td>
      <input type="text" name="NPO_postcode" placeholder="郵便番号" value={$rows.NPO_postcode}>
    </td>
  </tr>

  <tr>
    <th>目的</th>
    <td>
      <textarea class="textarea" name="NPO_purpose" cols="40" rows="8" placeholder="目的">{$rows.NPO_purpose}</textarea>
    </td>
  </tr>

</table>
  <input type="hidden" name="func" value="" />
  <input type="hidden" name="param" value="" />
</form>
<div>
  <input class="btn btn-secondary btn-lg" type="submit" class="btn btn-primary" name="btn_confirm" onClick="javascript:check()" value="確認">
</div>
<script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>
</html>
