
{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE>
<html lang="ja">
<head>
<title>団体詳細</title>
</head>
<body>
{include file="../components/header.tmpl"}
<h1>団体詳細</h1>
{if $pageFlag == 1}

<form method="post" action="">

  <table border="1" align="center" width="500px">

  <tr>
    <th>ID</th>
    <td>
      <p>{php} echo $_POST['NPO_id']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>グループ名</th>
    <td>
      <p>{php} echo $_POST['group_name']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>代表者</th>
    <td>
      <p>{php} echo $_POST['NPO_representative']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p>{php} echo $_POST['NPO_mailaddress']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>都道府県</th>
    <td>
      <p>{php} echo $_POST['NPO_prefecture']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>市町村</th>
    <td>
      <p>{php} echo $_POST['NPO_city']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>字丁目</th>
    <td>
      <p>{php} echo $_POST['NPO_aza']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>郵便番号</th>
    <td>
      <p>{php} echo $_POST['NPO_postcode']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>目的</th>
    <td>
      <p align="left" valign="top">{php} echo $_POST['NPO_purpose']; {/php}</p>
    </td>
  </tr>

  </table>

	<input type="submit" name="btn_back" style="position: absolute; left: 45%; top: 50%" value="戻る">
	<input type="submit" name="btn_submit" style="position: absolute; left: 55%; top: 50%" value="更新">

</form>

{elseif $pageFlag == 2}

<p>更新が完了しました。</p>
<input type="button" onclick="location.href='Dantai_List.php'" align="center" value="団体トップへ"/></button>


{else}

<form method="post" action="">

<table border="1" align="center" width="500px">

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="NPO_id" value={$rows.NPO_id} readonly>
    </td>
  </tr>

  <tr>
    <th>グループ名</th>
    <td>
      <input type="text" name="group_name" value={$rows.group_name} placeholder="グループ名">
    </td>
  </tr>

  <tr>
    <th>代表者</th>
    <td>
      <input type="text" name="NPO_representative" value={$rows.NPO_representative} placeholder="代表者">
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <input type="text" name="NPO_mailaddress" value={$rows.NPO_mailaddress} placeholder="メールアドレス">
    </td>
  </tr>

  <tr>
    <th>都道府県</th>
    <td>
    <input type="text" name="NPO_prefecture" value={$rows.NPO_prefecture} placeholder="都道府県">
    </td>
  </tr>

  <tr>
    <th>市町村</th>
    <td>
      <input type="text" name="NPO_city" value={$rows.NPO_city} placeholder="市町村">
    </td>
  </tr>

  <tr>
    <th>字丁目</th>
    <td>
      <input type="text" name="NPO_aza" value={$rows.NPO_aza} placeholder="字丁目">
    </td>
  </tr>

  <tr>
    <th>郵便番号</th>
    <td>
      <input type="text" name="NPO_postcode" value={$rows.NPO_postcode} placeholder="郵便番号">
    </td>
  </tr>

  <tr>
    <th>目的</th>
    <td>
      <textarea name="NPO_purpose" cols="40" rows="8" placeholder="目的">{$rows.NPO_purpose}</textarea>
    </td>
  </tr>

</table>

	<input type="submit" name="btn_confirm" style="position: absolute; left: 50%; top: 70%" value="確認">
</form>

{/if}
{include file="../components/footer.tmpl"}
</body>
</html>
