
{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE>
<html lang="ja">
<head>
<title>団体詳細</title>
</head>
<body>
{include file="../components/header.tmpl"}
<h1>団体詳細</h1>
{if $pageFlag == 1}

<p>削除が完了しました。</p>
<input type="button" onclick="location.href='Dantai_List.php'" align="center" value="団体リストへ"/></button>


{else}

<form method="post" action="">

<table border="1" align="center" width="500px">

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="id" value="1" readonly>
    </td>
  </tr>

  <tr>
    <th>団体名</th>
    <td>
      団体名
    </td>
  </tr>

  <tr>
    <th>代表者</th>
    <td>
      代表者
    </td>
  </tr>

  <tr>
    <th>代表者連絡先</th>
    <td>
      代表者連絡先
    </td>
  </tr>

  <tr>
    <th>市町村</th>
    <td>
      市町村
    </td>
  </tr>

  <tr>
    <th>事務所の所在地</th>
    <td>
      事務所の所在地
    </td>
  </tr>

  <tr>
    <th>目的</th>
    <td>
      目的
    </td>
  </tr>

</table>

	<input type="submit" name="btn_confirm" style="position: absolute; left: 50%; top: 70%" value="削除" readonly>
</form>

{/if}
{include file="../components/footer.tmpl"}
</body>
</html>
