<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="">
  </head>

{include file="../components/header.tmpl"}
<h1>イベント情報</h1>
<body>
<table border="1" align="center" width="500px">
<tbody>
<tr><th>イベント名</th><th>日付<th colspan="2">操作</th></tr>
<tr><th>運動会</th><th>2020-07-03</th><td align="center"><input type="submit" name="kousin" onclick="location.href='Event_Edit.php'" value="編集"></td><td align="center"><input type="submit" name="sakujo" onclick="location.href='Event_Delete.php'" value="削除"></td></tr>
<tr><th>運動会</th><th>2020-11-10</th><td align="center"><input type="submit" name="kousin" onclick="location.href='Event_Edit.php'" value="編集"></td><td align="center"><input type="submit" name="sakujo" onclick="location.href='Event_Delete.php'" value="削除"></td></tr></tbody>
</table>
{include file="../components/footer.tmpl"}
</body>
</html>
