<!DOCTYPE>
<html lang="ja">
<head>
<title>イベント詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
  document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}


// -->
</script>
{/literal}
</head>
<body>
{include file="../components/header.tmpl"}
<h1>イベント詳細</h1>

<form name="form1" method="post" action="">

<table border="1" align="center" width="500px">

  <tr>
    <th>イベントID</th>
    <td>
      <input type="text" name="event_id" value={$rows.event_id|escape} readonly>
    </td>
  </tr>

  <tr>
    <th>イベント名</th>
    <td>
      <input type="text" name="event_name" placeholder="イベント名" value={$rows.event_name|escape}>
    </td>
  </tr>


  <tr>
    <th>NPOID</th>
    <td>
    <input type="text" name="NPO_id" placeholder="NPOID" value={$rows.NPO_id|escape}>
    </td>
  </tr>

  <tr>
    <th>最小対象年齢</th>
    <td>
      <input type="text" name="start_age" placeholder="最小対象年齢" value={$rows.start_age|escape}>
    </td>
  </tr>


  <tr>
    <th>最大対象年齢</th>
    <td>
      <input type="text" name="end_age" placeholder="最大対象年齢" value={$rows.end_age|escape}>
    </td>
  </tr>


  <tr>
    <th>イベント開始日</th>
    <td>
      <input type="text" name="start_event_date" placeholder="イベント開始" value={$rows.start_event_date|escape}>
    </td>
  </tr>

  <tr>
    <th>イベント開始時間</th>
    <td>
      <input type="text" name="start_event_time" placeholder="イベント開始" value={$rows.start_event_time|escape}>
    </td>
  </tr>


  <tr>
    <th>イベント終了日</th>
    <td>
      <input type="text" name="end_event_date" placeholder="イベント終了" value={$rows.end_event_date|escape}>
    </td>
  </tr>

  <tr>
    <th>イベント終了時間</th>
    <td>
      <input type="text" name="end_event_time" placeholder="イベント終了" value={$rows.end_event_time|escape}>
    </td>
  </tr>


  <tr>
    <th>募集開始日</th>
    <td>
      <input type="text" name="start_recruiting_date" placeholder="募集開始" value={$rows.start_recruiting_date|escape}>
    </td>
  </tr>

  <tr>
    <th>募集開始時間</th>
    <td>
      <input type="text" name="start_recruiting_time" placeholder="募集開始" value={$rows.start_recruiting_time|escape}>
    </td>
  </tr>


  <tr>
    <th>募集終了日</th>
    <td>
      <input type="text" name="end_recruiting_date" placeholder="募集終了" value={$rows.end_recruiting_date|escape}>
    </td>
  </tr>

  <tr>
    <th>募集終了時間</th>
    <td>
      <input type="text" name="end_recruiting_time" placeholder="募集終了" value={$rows.end_recruiting_time|escape}>
    </td>
  </tr>


  <tr>
    <th>代表者名</th>
    <td>
      <input type="text" name="representative" placeholder="代表者名" value={$rows.representative|escape}>
    </td>
  </tr>


  <tr>
    <th>会場名</th>
    <td>
      <input type="text" name="venue_name" placeholder="会場名" value={$rows.venue_name|escape}>
    </td>
  </tr>


  <tr>
    <th>会場所在都道府県</th>
    <td>
      <input type="text" name="venue_prefecture"  placeholder="会場所在都道府県" value={$rows.venue_prefecture|escape}>
    </td>
  </tr>


  <tr>
    <th>会場所在市町村</th>
    <td>
      <input type="text" name="venue_city" placeholder="会場所在市町村" value={$rows.venue_city|escape}>
    </td>
  </tr>


  <tr>
    <th>会場所在字丁目</th>
    <td>
      <input type="text" name="venue_aza" placeholder="会場所在字丁目" value={$rows.venue_aza|escape} >
    </td>
  </tr>


  <tr>
    <th>郵便番号</th>
    <td>
      <input type="text" name="event_postcode" placeholder="郵便番号" value={$rows.event_postcode|escape}>
    </td>
  </tr>


  <tr>
    <th>開催費用</th>
    <td>
      <input type="text" name="cost" placeholder="開催費用" value={$rows.cost|escape}>
    </td>
  </tr>


  <tr>
    <th>ハッシュタグ</th>
    <td>
      <input type="text" name="hash_tag" placeholder="ハッシュタグ" value={$rows.hash_tag|escape}>
    </td>
  </tr>



  <tr>
    <th>イベント内容</th>
    <td>
      <textarea name="content" cols="40" rows="8" placeholder="イベント内容">{$rows.content|escape}</textarea>
    </td>
  </tr>


  <tr>
    <th>画像パス</th>
    <td>
      <input type="text" name="img" placeholder="画像パス" value={$rows.img}>
    </td>
  </tr>


</table>
  <input type="hidden" name="func" value="" />
  <input type="hidden" name="param" value="" />
	<input type="button" name="btn_confirm" onClick="javascript:set_func_form('confirm','')" style="position: absolute; left: 50%; top: 70%" value="確認">
</form>

{include file="../components/footer.tmpl"}
</body>
</html>
