<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="">
  {include file="../components/header.tmpl"}
</head>

<h1>HOME</h1>
<h1 align="center">ようこそ○○さん</h1>
<body>
<table border="1" align="center" width="500px">
<tbody>
<tr><td align="center"><a href="Admin_List.php">管理者情報</a></td></tr>
<tr><td align="center"><a href="User_List.php">ユーザー一覧</a></td></tr>
<tr><td align="center"><a href="Event_List.php">イベント一覧</a></td></tr>
<tr><td align="center"><a href="Dantai_List.php">団体一覧</a></td></tr>
<tr><td align="center"><a href="Inquiry_List.php">お問い合わせ</a></td></tr>
<tr><td align="center"><a href="Blacklist_List.php">ブラックリスト</a></td></tr>
</tbody>
</table>
{include file="../components/footer.tmpl"}
  </body>
</html>
