<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="css/admin_base.css">
        <link rel="stylesheet" href="css/user_list.css">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
  {include file="../components/Side_Menu.tmpl"}
</head>

<!--<div id="main">-->
  <div id = "center" class ="main center">
    <div class="container">
     <div align = "center">

<body>
  <h1>HOME</h1>
<table>
<tbody>
<tr><td align="center"><a href="Admin_List.php">管理者情報</a></td></tr>
<tr><td align="center"><a href="User_List.php">ユーザー一覧</a></td></tr>
<tr><td align="center"><a href="Event_List.php">イベント一覧</a></td></tr>
<tr><td align="center"><a href="Dantai_List.php">団体一覧</a></td></tr>
<tr><td align="center"><a href="Inquiry_List.php">お問い合わせ</a></td></tr>
<tr><td align="center"><a href="Blacklist_List.php">ブラックリスト</a></td></tr>
</tbody>
</table>

  </body>
</html>
