<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
{include file="../components/header.tmpl"}
  <h1>お問い合わせリスト</h1>
  <div align="center">
    <table border="1">
      <tr>
        <th>ユーザー名</th> <th>状態</th> <th>操作</th>
      <tr>
        <td>しんたろう</td> <td>未返信</td> <td><input type="button" value="詳細" onclick="location.href='Inquiry_Reply.php'"><input type="button" value="削除" onclick="location.href='Inquiry_Delete.php'"></td>
      </tr>
      <tr>
        <td>おっとせい</td> <td>送信済み</td> <td><input type="button" value="詳細" onclick="location.href='Inquiry_Reply.php'"><input type="button" value="削除" onclick="location.href='Inquiry_Delete.php'"></td>
      </tr>



{include file="../components/footer.tmpl"}
</body>
</html>
