{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
{include file="../components/header.tmpl"}
  <h1>削除画面</h1>
  {if $pageFlag == 1}

  <p>削除が完了しました。</p>
  <div align="center">
  {else}
  <form method="post" action="">
  <table border="1">
  <tr>
      <th>ID</th>
      <td>
        1
      </td>
  </tr>

    <tr>
      <th>状態</th>
      <td>
        未返信
      </td>
    </tr>

    <tr>
      <th>ユーザー名</th>
      <td>
        しんろう
      </td>
    </tr>

    <tr>
      <th>お問い合わせ内容</th>
      <td>
        ワケガワカラナイヨ
      </td>
    </tr>

    <tr>
      <th>受信日時</th>
      <td>
        2020-09-18
      </td>
    </tr>


  </table>
  <input type="submit" name="btn_confirm" value="本当に削除しますか？">
</div>
{/if}
</body>
</html>
