<html>
<head>
{include file="../components/header.tmpl"}

    <meta charset="utf-8" />
    <link rel="stylesheet" href="">
  </head>

  <nav class="my-parts">
	<ul>
	<li><a class="active" href="KHome.php">Home</a></li>
	<li><a href="adminList.php">管理者情報</a></li>
	<li><a href="userList.php">ユーザー一覧</a></li>
  <li><a href="Event_List.php">イベント一覧</a></li>
	<li><a href="Dantai_List.php">団体一覧</a></li>
  <li><a href="inquiryList.php">お問い合わせ</a></li>
  <li><a href="Blacklist_List.php">ブラックリスト</a></li>
</ul>
</nav>

<h1>HOME</h1>
<h1 align="center">ようこそ○○さん</h1>
<body>
<table border="1" align="center" width="500px">
<tbody>
<tr><td align="center"><a href="adminList.php">管理者情報</a></td></tr>
<tr><td align="center"><a href="userList.php">ユーザー一覧</a></td></tr>
<tr><td align="center"><a href="Event_List.php">イベント一覧</a></td></tr>
<tr><td align="center"><a href="Dantai_List.php">団体一覧</a></td></tr>
<tr><td align="center"><a href="inquiryList.php">お問い合わせ</a></td></tr>
<tr><td align="center"><a href="Blacklist_List.php">ブラックリスト</a></td></tr>
</tbody>
</table>
{include file="../components/footer.tmpl"}
  </body>
</html>
