<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{include file="../components/header.tmpl"}
<body>
  <h1>ユーザー情報</h1>
  <div align="center">
    <table border="1">
      <tr>
        <th>ユーザー名</th><th>操作</th>
      <tr>
        <td>ごろう</td><td><input type="button" value="編集" onclick="location.href='userEdit.php'"><input type="button" value="削除" onclick="location.href='userDelete.php'"></td>
      </tr>
      <tr>
        <td>ユー</td> <td><input type="button" value="編集" onclick="location.href='userEdit.php'"><input type="button" value="削除" onclick="location.href='userDetele.php'"></td>
      </tr>
    </table>
  </div>

{include file="../components/footer.tmpl"}
</body>
</html>
