<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <title>管理者admin</title>

  {literal}
  <script type="text/javascript">
  <!--
   function del_func_form(pm,mess){
      console.log("del_func");
      var message = "本当に\r\n";
      message += mess;
      message += "\r\nを削除しますか？";
      console.log(message);
      if(confirm(message)){
          document.form1.target = "_self";
          document.form1.func.value = 'del';
          document.form1.param.value = pm;
          document.form1.submit();
      }else {
        console.log('キャンセルがクリックされました');
      }
  }
  // -->
  </script>
  {/literal}
</head>
{include file="../components/Side_Menu.tmpl"}
        
         <!--<div id="main">-->
         <div id = "center" class ="main center">
          <div class="container">
           <div align = "center">
<body>
  <h1>ユーザー情報</h1>
  <div align="center">
    <table>
      <tr>
          <td>ID</td>
          <td>ユーザーID</td>
          <td>ユーザー名</td>
          <td colspan="2">操作</td>
      </tr>
        <!-- sample1-->
        {foreach from=$rows key=k item=value}
        <tr>
          <td>
            {$value.id}
          </td>
          <td>
            {$value.user_id}
          </td>
          <td>
            {$value.user_name}
          </td>
          <td class="center">
            <a href="./User_Edit.php?id={$value.id}">
                <button class="btn btn-primary" type="button">詳細</button>
            </a>
          </td>
          <td>
            <input type="button" class="btn btn-primary" value="削除" 
              onClick="javascript:del_func_form({$value.id},'【ID : {$value.id} NAME : {$value.user_name}】')" ></button>
          </td>
        </tr>
        {foreachelse}
        <tr>
          <td colspan="3" class="nobottom">メンバーが見つかりません</td>
        </tr>
        {/foreach}
      </table>
    </div>
  </div>

</body>
</html>
