<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
{include file="../components/header.tmpl"}
<h1>削除画面</h1>
<div align="center">
  <table border="1">
  <tr>
      <th>ID</th>
      <td>
        1
      </td>
  </tr>

    <tr>
      <th>ユーザーID</th>
      <td>
        ユーザーID
      </td>
    </tr>

    <tr>
      <th>ユーザー名</th>
      <td>
        ユーザー名
      </td>
    </tr>

    <tr>
      <th>PW</th>
      <td>
        PW
      </td>
    </tr>

    <tr>
      <th>生年月日</th>
      <td>
        生年月日
      </td>
    </tr>

    <tr>
      <th>趣味</th>
      <td>
        趣味
      </td>
    </tr>

  </table>
  <input type="button" value="本当に削除しますか？" onclick="">
</div>
{include file="../components/footer.tmpl"}
</body>
</html>
