<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../css/admin_base.css">
    <link rel="stylesheet" href="../css/user_list.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<title>ユーザー詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

// -->
</script>
{/literal}
</head>
<body>
  {include file="../components/Side_Menu.tmpl"}
        
  <!--<div id="main">-->
  <div id = "center" class ="main center">
   <div class="container">
    <div align = "center">

<h1>ユーザー詳細</h1>

<form name="form1" method="post" action="">

  <table>

  <tr>
    <th>ID</th>
    <td>
      <p>{$smarty.post.id}</p>
      <input type="hidden" name="id"  value="{$smarty.post.id|escape}" />
    </td>
  </tr>

  <tr>
    <th>ユーザーID</th>
    <td>
    <p>{$smarty.post.user_id}</p>
      <input type="hidden" name="user_id"  value="{$smarty.post.user_id|escape}" />
    </td>
  </tr>


  <tr>
    <th>ユーザー名</th>
    <td>
    <p>{$smarty.post.user_name}</p>
      <input type="hidden" name="user_name"  value="{$smarty.post.user_name|escape}" />
    </td>
  </tr>

  <tr>
    <th>PW</th>
    <td>
    <p>{$smarty.post.pw}</p>
      <input type="hidden" name="pw"  value="{$smarty.post.pw|escape}" />
    </td>
  </tr>

  <tr>
    <th>生年月日</th>
    <td>
      <p>{$smarty.post.birthday}</p>
      <input type="hidden" name="birthday"  value="{$smarty.post.birthday|escape}" />
    </td>
  </tr>

  <tr>
    <th>趣味</th>
    <td>
      <p>{$smarty.post.hobby}</p>
      <input type="hidden" name="hobby"  value="{$smarty.post.hobby|escape}" />
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p>{$smarty.post.address}</p>
      <input type="hidden" name="address"  value="{$smarty.post.address|escape}" />
    </td>
  </tr>

  <tr>
    <th>プロフィール文</th>
    <td>
      <p>{$smarty.post.profile_content}</p>
      <input type="hidden" name="profile_content"  value="{$smarty.post.profile_content|escape}" />
    </td>
  </tr>

  <tr>
    <th>プロフィール画像</th>
    <td>
      <p>{$smarty.post.profile_img}</p>
      <input type="hidden" name="profile_img"  value="{$smarty.post.profile_img|escape}" />
    </td>
  </tr>

  </table>

  <input type="hidden" name="func" value="" />
  <input type="hidden" name="param" value="" />
	<!--<input type="button" name="btn_back" onClick="javascript:set_func_form('edit','')" style="position: absolute; left: 45%; top: 50%" value="戻る">
	<input type="button" name="btn_submit" onClick="javascript:set_func_form('set','')" style="position: absolute; left: 55%; top: 50%" value="更新">
  -->
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_back" onClick="javascript:set_func_form('edit','')" value="戻る">
  <input class="btn btn-secondary btn-lg" type="submit" name="btn_submit" onClick="javascript:set_func_form('set','')" value="更新">
</form>

</body>
</html>
