
{if isset($smarty.post.btn_confirm)}

	{$pageFlag = 1}

{elseif isset($smarty.post.btn_submit)}

  {$pageFlag = 2}

{/if}

<!DOCTYPE>
<html lang="ja">
<head>
<title>ユーザー詳細</title>
</head>
{include file="../components/header.tmpl"}
<body>
<h1>ユーザー詳細</h1>
{if $pageFlag == 1}

<form method="post" action="">

  <table border="1">

  <tr>
    <th>ID</th>
    <td>
      <p>{php} echo $_POST['yourId']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>ユーザーID</th>
    <td>
      <p>{php} echo $_POST['userId']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <p>{php} echo $_POST['userName']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>PW</th>
    <td>
      <p>{php} echo $_POST['yourPassword']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>PWの再確認</th>
    <td>
      <p>{php} echo $_POST['confirmPassword']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>生年月日</th>
    <td>
      <p>{php} echo $_POST['userBirth']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>趣味</th>
    <td>
      <p>{php} echo $_POST['userInterest']; {/php}</p>
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p>{php} echo $_POST['yourMailaddress']; {/php}</p>
    </td>
  </tr>

  </table>

	<input type="submit" name="btn_back" value="戻る">
	<input type="submit" name="btn_submit" value="更新">

</form>

{elseif $pageFlag == 2}

<p>更新が完了しました。</p>

{else}

<form method="post" action="">

<table border="1">

  <tr>
    <th>ID</th>
    <td>
      <input type="text" name="yourId" value="1" readonly>
    </td>
  </tr>

  <tr>
    <th>ユーザーID</th>
    <td>
      <input type="text" name="userId" value="" placeholder="ID">
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <input type="text" name="userName" value="" placeholder="名前">
    </td>
  </tr>

  <tr>
    <th>PW</th>
    <td>
      <input type="text" name="yourPassword" value="" placeholder="PW">
    </td>
  </tr>

  <tr>
    <th>PWの再確認</th>
    <td>
      <input type="text" name="confirmPassword" value="" placeholder="PW">
    </td>
  </tr>

  <tr>
    <th>生年月日</th>
    <td>
      <input type="text" name="userBirth" value="" placeholder="20205022">
    </td>
  </tr>

  <tr>
    <th>趣味</th>
    <td>
      <input type="text" name="userInterest" value="" placeholder="趣味">
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <input type="text" name="yourMailaddress" value="" placeholder="Mailaddress">
    </td>
  </tr>

</table>

	<input type="submit" name="btn_confirm" value="確認">
</form>

{/if}
{include file="../components/footer.tmpl"}
</body>
</html>
