* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#main {
    position: relative;
    width: 800px;
    top: 80px;
    left: 300px;
}
.page-title{
    font-size:30px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table th,
table td {
    width: 100px;
    padding: 10px 0;
    text-align: center;
}
table td{
    padding-bottom: 5px;
}
.th1{
    width: 100px;
}
.th2{
    width: 230px;
}
.th3{
    width: 100px;
}

table tr:nth-child(odd) {
    background-color: #eee
}

@media(max-width : 860px) {
    #main {
        position: relative;
        top: 80px;
        left: 50px;
    }
    
    .button_wrapper{
        text-align:center;
     }

}