<!DOCTYPE>
<html lang="ja">
<head>
<title>管理者詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}

function check(){
  var err = "";
  if (form1.pw.value != ""){
    if(form1.pw.value != form1.repw.value){
      err = "パスワードの値が一致しません"
    }
  }
  if (err == ""){
  set_func_form('confirm','');
  }else{
    alert(err);
  }
}

// -->
</script>
{/literal}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
{include file="../components/header.tmpl"}

  <h2>管理者詳細</h2>
  <form name="form1" method="post" action="">
  <table border="1" align="center" width="500px">
    <tr>
      <td>ユーザーID</td>
      <td>
        <input type="text" name="user_id" value={$rows.user_id} readonly>
      </td>
    </tr>
    <tr>
      <td>ユーザー名</td>
      <td>
        <input type="text" name="user_name" placeholder="ユーザー名" value={$rows.user_name}>
      </td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td>
      <input type="password" name="pw" placeholder="パスワードを変更する場合入力してください">
      </td>
    </tr>
    <tr>
      <td>パスワードの再確認</td>
      <td>
        <input type="password" name="repw" placeholder="パスワードをもう一度ここに入力してください">
      </td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td>
        <input type="text" name="address" placeholder="メールアドレス" value={$rows.address}>
      </td>
    </tr>
    <tr>
      <td>権限</td>
      <td>
      <input type="text" name="authority" placeholder="権限" value={$rows.authority}>
      </td>
    </tr>
  </table>
    <input type="hidden" name="NPO_id" value={$rows.NPO_id} />
    <input type="hidden" name="func" value="" />
    <input type="hidden" name="param" value="" />
    <input type="button" name="btn_confirm" onClick="javascript:check()" style="position: absolute; left: 50%; top: 70%" value="確認">
  </form>

  {include file="../components/footer.tmpl"}
</body>

</html>
