<!DOCTYPE>
<html lang="ja">
<head>
<title>団体詳細</title>
{literal}
<script type="text/javascript">
<!--
function set_func_form(fn,pm){
	document.form1.target = "_self";
	document.form1.func.value = fn;
	document.form1.param.value = pm;
	document.form1.submit();
}


// -->
</script>
{/literal}
</head>
<body>
{include file="../components/header.tmpl"}
<h1>団体詳細</h1>

<form name="form1" method="post" action="">

  <table border="1" align="center" width="500px">

  <tr>
    <th>ユーザーID</th>
    <td>
      <p>{$smarty.post.user_id}</p>
      <input type="hidden" name="user_id"  value="{$smarty.post.user_id|escape}" />
    </td>
  </tr>

  <tr>
    <th>ユーザー名</th>
    <td>
      <p>{$smarty.post.user_name}</p>
      <input type="hidden" name="user_name"  value="{$smarty.post.user_name|escape}" />
    </td>
  </tr>

  <tr>
    <th>パスワード</th>
    <td>
      <p>{$smarty.post.pw}</p>
      <input type="hidden" name="pw"  value="{$smarty.post.pw|escape}" />
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p>{$smarty.post.address}</p>
      <input type="hidden" name="address"  value="{$smarty.post.address|escape}" />
    </td>
  </tr>

  <tr>
    <th>権限</th>
    <td>
      <p>{$smarty.post.authority}</p>
      <input type="hidden" name="authority"  value="{$smarty.post.authority|escape}" />
    </td>
  </tr>

  </table>
  <input type="hidden" name="NPO_id"  value="{$smarty.post.NPO_id|escape}" />
  <input type="hidden" name="func" value="" />
  <input type="hidden" name="param" value="" />
	<input type="button" name="btn_back" onClick="javascript:set_func_form('edit','')" style="position: absolute; left: 45%; top: 50%" value="戻る">
	<input type="button" name="btn_submit" onClick="javascript:set_func_form('set','')" style="position: absolute; left: 55%; top: 50%" value="更新">

</form>

{include file="../components/footer.tmpl"}
</body>
</html>
