<?php


?>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  {include file="../components/header.tmpl"}
    <div align="center">
      <h2>管理者削除</h2>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>権限</td>
          <td>admin</td>
        </tr>
        <tr>
          <td>管理者名</td>
          <td>たろう</td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td>tarou@ybb.ne.jp</td>
        </tr>
      </table>
      <button>削除</button>
    </div>
    {include file="../components/footer.tmpl"}
  </body>

</html>
