<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  {include file="../components/header.tmpl"}
  <div align="center">
    <section id="detail">
      <h2>お問い合わせ詳細</h2>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>{$inquiry_id}</td>
        </tr>
        <tr>
          <td>状態</td>
          <td>未返信</td>
        </tr>
        <tr>
          <td>ユーザ名</td>
          <td>{$smarty.post.user_name}</td>
        </tr>
        <tr>
          <td>ユーザID</td>
          <td>Azarashi_suko</td>
        </tr>
        <tr>
          <td>お問い合わせ内容</td>
          <td>{$smarty.post.content}</td>
        </tr>
        <tr>
          <td>受信日時</td>
          <td>{$smarty.post.target_date}</td>
        </tr>
      </table>
      <button onmousedown="Reply()">返信</button>
      <script>
        function Reply() {
          document.getElementById("detail").hidden = true;
          document.getElementById("reply").hidden = false;
        }
      </script>
    </section>
    <section id="reply" hidden>
      <h2>返信内容</h2>
      <p>
        <textarea name="" id="" cols="40" rows="10"> </textarea>
      </p>
      <button>送信</button>
    </section>
  </div>
  {include file="../components/footer.tmpl"}
</body>

</html>