<?php


?>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
    {include file="../components/header.tmpl"}
    <div align="center">
      <h2>イベント削除</h2>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>イベント名</td>
          <td>運動会</td>
        </tr>
        <tr>
          <td>イメージ画像</td>
          <td><img src="" alt="hoge"></td>
        </tr>
        <tr>
          <td>開催日</td>
          <td>2020-07-03</td>
        </tr>
        <tr>
          <td>時間</td>
          <td>0時～24時</td>
        </tr>
        <tr>
          <td>市区都町村以下</td>
          <td>福島県郡山市</td>
        </tr>
        <tr>
          <td>内容</td>
          <td>体を動かす</td>
        </tr>
      </table>
      <button>削除</button>
    </div>
    {include file="../components/footer.tmpl"}
  </body>

</html>
