<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>NPO管理</title>
  </head>
  <body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
  {include file="../components/Side_Menu.tmpl"}
    <br>
    <div>
      <div id='center' class="main center">
        <div class="container">
        <div align="center">
      <table border="1">
        <tr>
          <td>イベント名</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
          <td>主催者</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
        <tr>
          <td>対象年齢</td>
          <td>
            <input
              type="text"
              name="title"
              value=""
              size="24"
              style="width: 50px;"
            />
            ~
            <input
              type="text"
              name="title"
              value=""
              size="24"
              style="width: 50px;"
            />
            歳
          </td>
          <td>ハッシュタグ</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
        <tr>
          <td>開催日</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
          <td>時間</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
        <tr>
          <td>募集期間</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
          <td>開催場所</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
        <tr>
          <td>会場名</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
          <td>内容</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
        <tr>
          <td>参加費</td>
          <td><input type="text" name="userId" value="" size="24" /></td>
        </tr>
      </table>
      <br>
      <section id="confirm">
        <form>
          <div align="center">
            <button class="btn btn-secondary btn-lg" onmousedown="confirm()">確認</button>
          </div>
        </form>
        <script>
          function confirm() {
            document.getElementById("confirm").hidden = true;
            document.getElementById("post").hidden = false;
          }
        </script>
      </section>
      <section id="post" hidden>
        <div align="center">
          <button class="btn btn-secondary btn-lg" onmousedown="back()">戻る</button>
          <button class="btn btn-secondary btn-lg">追加</button>
        </div>
        <script>
          function back() {
            document.getElementById("confirm").hidden = false;
            document.getElementById("post").hidden = true;
          }
        </script>
      </section>
    </div>
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  </body>
</html>
