<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Smarty/templates/admin/KHome.css">
    <title>NPOホーム画面</title>
  </head>

<body>
  {include file="../components/header.tmpl"}
  <h1>HOME</h1>
  <h1 align="center">ようこそ○○さん</h1>
  <table border="1" align="center" width="500px">
  <tbody>
  <tr><td align="center"><a href="Profile_Create.php">プロフィール</a></td></tr>
  <tr><td align="center"><a href="Admin_List.php">管理者</a></td></tr>
  <tr><td align="center"><a href="Contact_List.php">お問い合わせ</a></td></tr>
  <tr><td align="center"><a href="Event_Create.php">イベント作成</a></td></tr>
  <tr><td align="center"><a href="Event_List.php">イベント一覧</a></td></tr>
  </tbody>
  </table>
  {include file="../components/footer.tmpl"}
  </body>
</html>