<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Smarty/templates/admin/KHome.css">
    <title>NPOホーム画面</title>
  </head>

{include file="../components/header.tmpl"}

<h1>HOME</h1>
<h1 align="center">ようこそ○○さん</h1>
<body>
<table border="1" align="center" width="500px">
<tbody>
<tr><td align="center"><a href="profile.php">プロフィール</a></td></tr>
<tr><td align="center"><a href="admin_us.php">管理者</a></td></tr>
<tr><td align="center"><a href="contact_us.php">お問い合わせ</a></td></tr>
<tr><td align="center"><a href="event_create.php">イベント作成</a></td></tr>
<tr><td align="center"><a href="event_us.php">イベント一覧</a></td></tr>
</tbody>
</table>
  </body>
</html>