<!DOCTYPE html>
<html lang="ja">
  <head>
     <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
        <link rel="stylesheet" href="css/admin_base.css">
        <link rel="stylesheet" href="css/user_list.css">
        <title>お問い合わせ</title> 
  </head>

  <body>
  <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
        <a href="Home_Page.php">
        <header>サイト名</header>
            <a href="Profile_Create.php">
            <i class="fas fa-list-alt fa-2x"></i>
                <span>プロフィール</span>
        </a>
            <a href="Admin_List.php">
                <i class="fas fa-list-alt fa-2x"></i>
                <span>管理者</span>
        </a>
        <a href="event_create.php">
                <i class="fas fa-bars"></i>
                <span>イベント作成</span>
            </a>
            <a href="Event_List.php" >
                <i class="fas fa-list-alt fa-2x"></i>
                <span>イベント一覧</span>
            </a>
            <a href="inquiry_List.php">
                <i class="far fa-question-circle"></i>
                <span>お問い合わせ</span>
            </a>
            <a href="Login_Page.php">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <span>ログアウト</span>
            </a>
        </div>
  <div>
<div id="main">
  <div align="center">
    <section id="detail">
      <h2>お問い合わせ詳細</h2>
      {$err_flag}
      <table border="1">
        <tr>
          <td>ID</td>
          <td>{$inquiry_id}</td>
        </tr>
        <tr>
          <td>状態</td>
          <td>未返信</td>
        </tr>
        <tr>
          <td>ユーザ名</td>
          <td>{$smarty.post.user_name}</td>
        </tr>
        <tr>
          <td>ユーザID</td>
          <td>{$smarty.post.user_id}</td>
        </tr>
        <tr>
          <td>お問い合わせ内容</td>
          <td>{$smarty.post.content}</td>
        </tr>
        <tr>
          <td>受信日時</td>
          <td>{$smarty.post.target_date}</td>
        </tr>
      </table>
      <button>削除</button>
    </div>

  </body>
</html>
