<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  {literal}

  <script type="text/javascript">
    <!--
    function set_func_form(fn,pm){
    document.form1.target = "_self";
    document.form1.func.value = fn;
    document.form1.param.value = pm;
    document.form1.submit();
  }
// -->
  </script>
  {/literal}
</head>

<body>
  {include file="../components/header.tmpl"}
  <div align="center">
      <h2>確認</h2>
      {$err_flag}
      <form name="form1" method="post" action="">
      <table border="1">
        <tr>
          <td>ID</td>
          <td>{$rows.user_name}</td>
        </tr>
        <tr>
          <td>状態</td>
          <td>
              {if $rows.reply}
                返信済み
              {else}
                未返信
              {/if}
          </td>
        </tr>
        <tr>
          <td>ユーザ名</td>
          <td>{$rows.user_name}</td>
        </tr>
        <tr>
          <td>ユーザID</td>
          <td>{$rows.user_id}</td>
        </tr>
        <tr>
          <td>お問い合わせ内容</td>
          <td>{$rows.content}</td>
        </tr>
        <tr>
          <td>受信日時</td>
          <td>{$rows.target_date}</td>
        </tr>
      </table>
      <h2>返信内容</h2>
        <p>
          <textarea name="reply_content" id="reply_content" cols="40" rows="5">{$smarty.post.reply_content}</textarea>
        </p>
      <input type="hidden" name="func" value="" />
      <input type="hidden" name="param" value="" />
        <input type="button" name="btn_back" onClick="javascript:set_func_form('edit','')" style="position: absolute; left: 45%; top: 50%" value="戻る">
        <input type="button" name="btn_submit" onClick="javascript:set_func_form('set','')" style="position: absolute; left: 55%; top: 50%" value="送信">
      </form>
  </div>
  {include file="../components/footer.tmpl"}
</body>

</html>