<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <title>お問い合わせ</title> 
</head>

<body>
<input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
        <a href="Home_Page.php">
        <header>サイト名</header>
            <a href="Profile_Create.php">
            <i class="fas fa-list-alt fa-2x"></i>
                <span>プロフィール</span>
        </a>
            <a href="Admin_List.php">
                <i class="fas fa-list-alt fa-2x"></i>
                <span>管理者</span>
        </a>
        <a href="event_create.php">
                <i class="fas fa-bars"></i>
                <span>イベント作成</span>
            </a>
            <a href="Event_List.php" >
                <i class="fas fa-list-alt fa-2x"></i>
                <span>イベント一覧</span>
            </a>
            <a href="inquiry_List.php">
                <i class="far fa-question-circle"></i>
                <span>お問い合わせ</span>
            </a>
            <a href="Login_Page.php">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <span>ログアウト</span>
            </a>
        </div>
  <div>
  <div id="main">
    <h1>お問い合わせリスト</h1>
    <div align="center">
    {$ERR_STR}
    <!--form name="form1" action="{$tgt_uri}" method="post" -->
        <table border="1">
          <tr>
            <td>ID</td>
            <td>ユーザ名</td>
            <td>状態</td>
            <td>操作</td>
          </tr>
          {foreach from=$rows key=k item=value}
          <tr>
            <td>
              {$value.inquiry_id}
            </td>
            <td>
              {$value.user_name}
            </td>
            <td>
              {if $value.reply}
                返信済み
              {else}
                未返信
              {/if}
            </td>
            <td>
              <button type="button" class="btn btn-primary" onclick="location.href='./Inquiry_Detail.php?iid={$value.inquiry_id}'">詳細</button>
              <button type="button" class="btn btn-primary" onclick="location.href='./Inquiry_Delete.php?iid={$value.inquiry_id}'">削除</button>
            </td>
          </tr>
          {foreachelse}
          <tr>
          <td colspan="3" class="nobottom">メンバーが見つかりません</td>
          </tr>
          {/foreach}
        </table>
        <!--/form-->
    </div>
  </div>
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>

</html>