<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../css/admin_base.css">
    <link rel="stylesheet" href="../css/user_list.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    {include file="../components/Side_Menu.tmpl"}
    <br>
    <div>
      <div id='center' class="main center">
        <div class="container">
        <div align="center">
    <div>
        <div align="center">
            <h1>ログイン</h1>
        </div>
        <div align="center">
        {$ERR_STR}
            <form action="Login_Page.php" method="post">
                <table>
                    <tr>
                        <td>ユーザID</td>
                        <td><input type="text" name="login_user" class="search_field" value="" size="50"></td>
                    </tr>

                    <tr>
                        <td>パスワード</td>
                        <td><input type="password" name="NPO_password"  class="search_field" value="" size="50"></td>
                    </tr>
                </table>
                <br>
                <div>
                    <input class="btn btn-secondary btn-lg" type="submit" value="ログイン">
                </div>
            </form>
        </div>
    </div>
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
</body>

</html>
