<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    </head>

    <body>
        {include file="../components/header.tmpl"}
        <form method="post" action="./profile_detail.php">
        <table border="1" align="center" width="500px">

        <tr>
            <th>ID</th>
            <td>
            <input type="text" name="id" value="1" readonly>
            </td>
        </tr>

        <tr>
            <th>団体名</th>
            <td>
            <input type="text" name="dantai" value="" placeholder="団体名">
            </td>
        </tr>

        <tr>
            <th>代表者</th>
            <td>
            <input type="text" name="daihyo" value="" placeholder="名前">
            </td>
        </tr>

        <tr>
            <th>メールアドレス</th>
            <td>
            <input type="text" name="renraku" value="" placeholder="連絡先">
            </td>
        </tr>

        <tr>
            <th>市町村</th>
            <td>
            <input name="sityoson" value="" placeholder="市町村"></input>
            </td>
        </tr>

        <tr>
            <th>事務所の所在地</th>
            <td>
            <input type="text" name="shozai" value="" placeholder="所在地">
            </td>
        </tr>

        <tr>
            <th>目的</th>
            <td>
            <textarea name="mokuteki" value="" cols="40" rows="8" placeholder="目的"></textarea>
            </td>
        </tr>

        </table>

	    <input type="submit" name="btn_confirm" style="position: absolute; left: 50%; top: 70%" value="確認">
        </form>
        {include file="../components/footer.tmpl"}
    </body>
</html>