<!DOCTYPE>
<html lang="ja">
<head>
<title>プロフィール</title>
</head>
<body>
{include file="../components/header.tmpl"}
<h1>プロフィール</h1>

<form method="post" action="./profile_success.php">

  <table border="1" align="center" width="500px">

  <tr>
    <th>ID</th>
    <td>
      <p><?php echo $_POST['id']; ?></p>
    </td>
  </tr>

  <tr>
    <th>団体名</th>
    <td>
      <p><?php echo $_POST['dantai']; ?></p>
    </td>
  </tr>

  <tr>
    <th>代表者</th>
    <td>
      <p><?php echo $_POST['daihyo']; ?></p>
    </td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td>
      <p><?php echo $_POST['renraku']; ?></p>
    </td>
  </tr>

  <tr>
    <th>市町村</th>
    <td>
      <p><?php echo $_POST['sityoson']; ?></p>
    </td>
  </tr>

  <tr>
    <th>事務所の所在地</th>
    <td>
      <p><?php echo $_POST['shozai']; ?></p>
    </td>
  </tr>

  <tr>
    <th>目的</th>
    <td>
      <p align="left" valign="top"><?php echo $_POST['mokuteki']; ?></p>
    </td>
  </tr>

  </table>

	<input type="submit" name="btn_back" onclick="history.back()" style="position: absolute; left: 45%; top: 50%" value="戻る">
	<input type="submit" name="btn_submit" style="position: absolute; left: 55%; top: 50%" value="更新">

</form>
{include file="../components/footer.tmpl"}
</body>
</html>