<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script> 
        <link rel="stylesheet" href="../css/admin_base.css">
        <link rel="stylesheet" href="../css/user_list.css">
        <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>NPO管理</title>
    </head>

    <body>
        <div class="header"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
  {include file="../components/Side_Menu.tmpl"}
        <br>
        <div>
          <div id='center' class="main center">
            <div class="container">
            <div align="center">
        <br>
        <br>
        <br>
        <h3>更新が完了しました。</h3>
        <br>
        <input type="button"  class="btn btn-secondary btn-lg" onclick="location.href='Home_Page.php'" align="center" value="ホーム画面へ"/></button>
    </body>
</html>