<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    </head>

    <body>
        {include file="../components/header.tmpl"}
        <p>更新が完了しました。</p>
        <input type="button" onclick="location.href='Home_Page.php'" align="center" value="ホーム画面へ"/></button>

        {include file="../components/footer.tmpl"}
    </body>
</html>