<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="../img/wakaba.png">
    <script type="text/javascript" src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>

    <title>わかばくらぶ</title>

    {literal}
    <script type="text/javascript">
    < !--
            function set_func_form(fn, pm) {
                document.form1.target = "_self";
                document.form1.func.value = fn;
                document.form1.param.value = pm;
                document.form1.submit();
            }

        function check() {
            var err = "";
            if (form1.event_name.value == "") {
                err += "タイトルを入力してください。\n"
            }
            if ((form1.start_age.value) == "999" || (form1.end_age.value) == "999") {
                err += "対象年齢を入力してください。\n"
            }
            if (form1.representative.value == "") {
                err += "主催者を入力してください。\n"
            }
            if (form1.cost.value == "") {
                err += "参加費用を入力してください。\n"
            }
            if (form1.content.value == "") {
                err += "イベント説明文を入力してください。\n"
            }
            if ((form1.start_event_date.value == "") || (form1.start_event_time.value == "")) {
                err += "開始日時を入力してください。\n"
            }
            if ((form1.end_event_date.value == "") || (form1.end_event_time.value == "")) {
                err += "終了日時を入力してください。\n"
            }
            if ((form1.start_recruiting_date.value == "") || (form1.start_recruiting_time.value == "")) {
                err += "募集開始を入力してください。\n"
            }
            if ((form1.end_recruiting_date.value == "") || (form1.end_recruiting_time.value == "")) {
                err += "終了日を入力してください。\n"
            }
            if (form1.venue_name.value == "") {
                err += "会場名を入力してください。\n"
            }
            if (form1.venue_prefecture.value == "") {
                err += "都道府県を入力してください。\n"
            }
            if (form1.venue_city.value == "") {
                err += "市町村を入力してください。\n"
            }
            if (form1.venue_aza.value == "") {
                err += "番地以下を入力してください。\n"
            }
            if (err == "") {
                set_func_form('confirm', '');
            } else {
                alert(err);
            }
        }

        $(function () {
            //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
            $('form').on('change', 'input[type="file"]', function (e) {
                var file = e.target.files[0],
                    reader = new FileReader(),
                    $preview = $(".preview");
                t = this;

                // 画像ファイル以外の場合は何もしない
                if (file.type.indexOf("image") < 0) {
                    return false;
                }

                // ファイル読み込みが完了した際のイベント登録
                reader.onload = (function (file) {
                    return function (e) {
                        //既存のプレビューを削除
                        $preview.empty();
                        // .prevewの領域の中にロードした画像を表示するimageタグを追加
                        $preview.append($('<img>').attr({
                            src: e.target.result,
                            width: "200px",
                            class: "preview",
                            title: file.name
                        }));
                    };
                })(file);

                reader.readAsDataURL(file);
            });
        });

    // -->
    </script>
    {/literal}

    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/adminmin_base.css">
    <link rel="stylesheet" href="../css/user_list.css">

    <!-- Template Main CSS File -->
    <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/~j2020tmD/sources/front/css/front.css">
</head>

<body>
    {include file="../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">

        <div class="container">
            <div align="left">
                <h1>イベント作成</h1>
                <hr> <br>

                <div class="">
                    <form name="form1" action="" method="post" enctype="multipart/form-data" class="contactform">
                        <div class="form-group">
                            <p style="margin-bottom: 0px;">
                                <font size="5"><b>・タイトル</b><span style="color: red;">*必須</span></font>
                            </p><br>
                            <input type="text" name='event_name' class="form-control input-sm" id="kaisai_pass"
                                placeholder="タイトル" value="" required>
                            <div class="validation"></div>
                        </div><br>
                        <hr>

                        <div class="form-group">
                            <p style="margin-bottom: 0px;">
                                <font size="5"><b>・イベント画像</font></b>
                            </p><br>
                            <div class="preview"></div>
                            <br>
                            <input type="file" name='event_img' accept="image/jpeg,image/png" class="" id="kaisai_name"
                                placeholder="イベント画像" size="20" data-rule="minlen:1" data-msg="値を入力してください" value="">
                            <br>
                            <div class="validation"></div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <label><b>・対象年齢</b><span style="color: red;">*必須</span></label></font><br><br>
                            <div class="myfoam">
                                <select name="start_age">
                                    <option value="999">選択してください</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>歳
                                ～
                                <select name="end_age">
                                    <option value="999">選択してください。</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>歳
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <p style="margin-bottom: 0px;"><b>・主催者</b><span style="color: red;">*必須</span>
                            </font>
                            </p><br>
                            <input type="text" name='representative' class="form-control input-sm" id="kaisai_name"
                                placeholder="主催者" data-rule="minlen:1" data-msg="値を入力してください" value="">
                            <div class="validation"></div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <p style="margin-bottom: 0px;"><b>・ハッシュタグ</b>
                            </font>
                            </p><br>
                            <input type="text" name='hash_tag' class="form-control input-sm" id="kaisai_name"
                                placeholder="ハッシュタグ" data-rule="minlen:1" data-msg="値を入力してください" value="">
                            <div class="validation"></div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <p style="margin-bottom: 0px;"><b>・参加上限人数</b>
                            </font>
                            </p><br>
                            <input type="text" name='upper_limit' class="form-control input-sm" id="kaisai_name"
                                placeholder="参加上限人数" data-rule="minlen:1" data-msg="値を入力してください" value="">
                            <div class="validation"></div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <p style="margin-bottom: 0px;"><b>・参加費用</b><span style="color: red;">*必須</span>
                            </font>
                            </p><br>
                            <input type="text" name='cost' class="form-control input-sm" id="kaisai_name"
                                placeholder="参加費用" data-rule="minlen:1" data-msg="値を入力してください" value="">
                            <div class="validation"></div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group">
                            <font size="5">
                                <p style="margin-bottom: 0px;"><b>・イベント説明文</b><span style="color: red;">*必須</span>
                            </font>
                            </p><br>
                            <textarea class="textarea" name="content" cols="40" rows="8" placeholder="目的"></textarea>
                            <div class="validation"></div>
                        </div>
                        <br>
                        <div>
                            <!-- 開催日程-->
                            <tr>
                                <font size="5"><b>・開催日程・募集期間</b><span style="color: red;">*必須</span></font>
                            </tr><br>
                            <hr>
                            <br>
                            <tr>
                                <td><b>イベント開始日時</b></td><br>
                                <td><br>
                            <tr>

                                <td>・日付　<input type="date" name='start_event_date' min="2020-08-01" max="2020-08-31"
                                        class="" id="kaisai_name" placeholder="日にちを入力" size="20" style="px;"
                                        data-rule="minlen:1" data-msg="値を入力してください" value=""></td><br>
                            </tr><br>
                            <tr>

                                <td>・時間　<input type="time" name='start_event_time' value="10:00" class=""
                                        id="kaisai_name" placeholder="時間を入力" size="20" style="px;" data-rule="minlen:1"
                                        data-msg="値を入力してください" value=""></td>
                            </tr>
                            </td>
                            </tr>
                            <hr>
                            <!-- 終了日時-->
                            <br>
                            <tr>
                                <td><b>イベント終了日時</b></td><br>
                                <td><br>
                            <tr>

                                <td>・日付　<input type="date" min="2020-08-01" max="2020-08-31" name='end_event_date'
                                        class="" id="kaisai_name" placeholder="日にちを入力" size="20" style="px;"
                                        data-rule="minlen:1" data-msg="値を入力してください" value=""></td><br>
                            </tr><br>
                            <tr>

                                <td>・時間　<input type="time" name='end_event_time' class="" id="kaisai_name"
                                        placeholder="時間を入力" size="20" style="px;" data-rule="minlen:1"
                                        data-msg="値を入力してください" value="18:00"></td>
                            </tr>
                            </td>
                            </tr>
                            <!--募集開始-->
                            <hr>
                            <br>
                            <tr>
                                <td><b>イベント募集開始日</b></td><br>
                                <td><br>
                            <tr>
                                <!--<td>日</td>-->
                                <td>・日付　<input type="date" min="2020-08-01" max="2020-08-31"
                                        name='start_recruiting_date' class="" id="kaisai_name" placeholder="日にちを入力"
                                        size="20" style="width:px;" data-rule="minlen:1" data-msg="値を入力してください" value="">
                                </td><br>
                            </tr><br>
                            <tr>
                                <!--<td>時間</td>-->
                                <td>・時間　<input type="time" name='start_recruiting_time' class="" id="kaisai_name"
                                        placeholder="時間を入力" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                        value="10:00"></td>
                            </tr>
                            </td>
                            </tr>
                            <!--終了-->
                            <hr>
                            <br>
                            <tr>
                                <td><b>イベント募集終了日</b></td><br>
                                <td><br>
                            <tr>

                                <td>・日付　<input type="date" min="2020-08-01" max="2020-08-31" name='end_recruiting_date'
                                        class="" id="kaisai_name" placeholder="日にちを入力" size="20" data-rule="minlen:1"
                                        data-msg="値を入力してください" value=""></td><br>
                            </tr><br>
                            <tr>

                                <td>・時間　<input type="time" name='end_recruiting_time' class="" id="kaisai_name"
                                        placeholder="時間を入力" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                        value="18:00"></td>
                            </tr>
                            </td>
                            </tr>
                        </div>

                        <br>
                        <hr><br>

                        <tr>
                            <font size="5"><b>・開催場所</b><span style="color: red;">*必須</span></font>
                        </tr><br>
                        <hr><br>
                        <tr>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;"><b>会場名</b></p><br>
                                <input type="text" name='venue_name' class="form-control input-sm" id="kaisai_name"
                                    placeholder="会場名" width="100" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                    value="">
                                <div class="validation"></div>
                            </div>
                            <br>
                            <hr>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;"><b>都道府県</b></p><br>
                                <input type="text" name='venue_prefecture' class="form-control input-sm"
                                    id="kaisai_name" placeholder="都道府県" size="20" data-rule="minlen:1"
                                    data-msg="値を入力してください" value="">
                                <div class="validation"></div>
                            </div>
                            <br>
                            <hr>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;"><b>市町村</b></p><br>
                                <input type="text" name='venue_city' class="form-control input-sm" id="kaisai_name"
                                    placeholder="市町村" size="20" data-rule="minlen:1" data-msg="値を入力してください" value="">
                                <div class="validation"></div>
                            </div>
                            <br>
                            <hr>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;"><b>番地以下</b></p><br>
                                <input type="text" name='venue_aza' class="form-control input-sm" id="kaisai_name"
                                    placeholder="番地以下" size="20" data-rule="minlen:1" data-msg="値を入力してください" value="">
                                <div class="validation"></div>



                                <input type="hidden" name="func" value="" />
                                <input type="hidden" name="param" value="" />
                    </form>
                </div>
                </tr>
            </div>
            <hr>
        </div>
    </div>
    <br>
    <p>
    <div align="center">
        <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" value="確認"
            onclick="javascript:check()">

    </div>
    </p>
    <br>

    <script src="/~j2020tmD/sources/front/js/main.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>
    {include file="../components/footer.tmpl"}
</body>

</html>