<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/img/favicon.png" rel="icon">
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
    <title>わかばくらぶ</title>
</head>

<body>
    {include file="../components/header.tmpl"}
    <br><br><br><br>
    <div class="container">
      <div align="left"> 
          <h1>イベント内容の確認</h1>
          <hr> <br>
      </div>
    </div>
    <div id='center' class="main center">
        <div class="container">
        <div align="left">
          <h4><b>■イベント名</b></h4>
            <hr>
            <tr>
              <h5><td>水族館で触れ合おう!</td></h5>
            </tr><br><br>
            <h4><b>■開催概要</b></h4>
            <hr>
            <tr>
              <h5><td>日付/時間 : 2020-08-31(月) 12:00 ~ 18:00</td></h5>
            </tr><br>
            <tr>
              <h5><td>対象年齢 : 5歳〜7歳</td></h5>
            </tr><br>
            <tr>
              <h5><td>参加費用 : 0円</td></h5>
            </tr><br>

    <div class="row">
        <div class="col-md-11">
          <div align="center">
            <div>
              <a href="" class="btn btn-outline-primary btn-lg">戻る</a>
              <a href="" class="btn btn-outline-primary btn-lg">イベントに申し込む</a>
        
            </div>
          </div>
        </div>
    </div>
    <br>
    <!--<input type="button" style="width: 200px; height: 30px;" value="本当に退会しますか？"><br><br>
    <input type="button" style="width: 200px; height: 30px;" value="退会をやめる">-->
  </div>
</div>
</div>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

    <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>
    {include file="../components/footer.tmpl"}
</body>

</html>