<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="../img/wakaba.png">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/~j2020tmD/sources/front/css/front.css">

  <title>わかばくらぶ</title>
</head>

<body>
  {include file="../components/header.tmpl"}
  <br>
  <br>
  <br>
<br>
  

  <div id='center' class="main center">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <br>
            <div>
                <h3><b>{$rows.event_name}!</b></h3><br>
                <h5><b>{$rows.start_event_date}({$rows.start_event_week})
                  {$rows.start_event_time|date_format:"%H:%M"} ~ </b>
            </div>
            <img src="{$rows.img}" class="img-fluid img-thumbnail"  
            style="width:700px;height:350px;object-fit: cover;" alt="">
          </div>
        </div>

      <br>
      <br>
      <div>
        <h4><b>■このイベントについて</b></h4>
      </div> 
    <hr> 
    <div>
      {$rows.content}
    </div>

 
<br>
<br>
    <div>
      <h4><b>■開催概要</b></h4>
  </div>
<hr>
      <p></p>

      <!-- イベント詳細 -->
      <div>
          <tr>
            <h5><td>日付/時間 : {$rows.start_event_date}({$rows.start_event_week})
                  {$rows.start_event_time|date_format:"%H:%M"} ~ {$rows.end_event_time|date_format:"%H:%M"}</td></h5>
          </tr>
      </div>
      <br>
          <div>
            <tr>
              <h5><td>対象年齢 : {$rows.start_age}歳〜{$rows.end_age}歳</td></h5>
            </tr>
          </div>
          <br>
          <div>
            <tr>
              <h5><td>参加費用 : {$rows.cost}円</td></h5>
            </tr>
          </div>
        </table>
<br>
      <p></p>

<h4><b><td>■開催場所</td></b></h4><hr>

      <!-- 開催場所 -->
      <div>
          <tr>
            <h5><td>会場名 :{$rows.venue_name} </td></h5>
          </tr>
          <br>
          <tr>
            <h5><td>住所 : {$rows.venue_city}{$rows.venue_aza}</td></h5>
          </tr>
      </div>
<br>
<br>

<h4><b><td>■参加者　{$rows.participant}/{$rows.upper_limit}人</b></td></h5><hr>
<p></p>

<!--  参加者-->
<!-- 参加者はDBから出力する処理を作成していないので一時コメントアウト
<div>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
    <tr>
      <h5><td>渡辺 花子 ＠watanabe_watanabe</td>
    </tr>
  </div>
-->
  <br>
  <br>
    <div align = center>
      <button type="button" onclick="location.href='./Event_Entry.php?iid={$rows.event_id}'"  class="btn btn-primary btn-lg">イベントに申し込む</button>

</div>
<br>
<br>
<hr>
<div>
  <tr>
    <h4><b><td>■開催団体</b> : <button type="button" class="btn btn-primary btn-sm">Wiz保育部</button>
      　/　<button type="button" class="btn btn-primary btn-sm">フォロー</button></td></h4>
  </tr>
</div>
<br>
    <div class="row">
      <div class="col-md-2">
      <td>
        <img class="fit-picture" src="img path" alt="Event imgge" />
      </td>
    </div> 
      <div class="col-md-5">
        <div>
          <tr>
            <h5><td>イベント数 : ３回</td></h5>
          </tr>
        </div>
        <br>
        <div>
          <tr>
            <h5><td>メンバー数 : 40人</td></h5>
          </tr>
        </div>
      </div>
</div>
<br>
      <p></p>
      <h4><b><td>■管理者</b></td><hr></h4>
      <!-- 管理者 -->
      <div>
          <tr>
            <h5><td>@{$rows.representative}</td></h5>
          </tr>
      </div>
      <br>
      <br>
      <h5><b>■イベントに関するお問い合わせはこちらから</b></h5>
      <hr>
      <br>
      <div class="row">
        <div><button type="button" class="btn btn-primary btn-lg">お問い合わせ</button></div><br>
    </div>
<br>
</div>
  </div>
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="./js/main.js"></script>
  {include file="../components/footer.tmpl"}
</body>

</html>