<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>わかばくらぶ</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/~j2020tmD/sources/assets/img/favicon.png" rel="icon">
  <link href="/~j2020tmD/sources/assets//img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="../img/wakaba.png">
  <link rel="stylesheet" href="../css/adminmin_base.css">
  <link rel="stylesheet" href="../css/user_list.css">
  <link href='mypage/css/style.css' rel="stylesheet">


  <!-- Template Main CSS File -->
     <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
     <link rel="stylesheet" href="/~j2020tmD/sources/front/css/front.css">
</head>

  <body>
    {include file="../components/header.tmpl"}
    <br><br><br><br><div id='center' class="main center">
        <div class="container">
        <div align="left"> 
            <h1>イベント編集</h1>
            <hr> <br>

            <div class="row">
              <div class="col-md-11">
            <div align="center">
          <div>
              <a href="" class="btn btn-outline-primary btn-lg">データの呼び出し</a>
            </div>
            </div>
            </div>
            </div>

        <div class="">
                <form name="form1" action="" method="post" enctype="multipart/form-data"
                    class="contactform">
                  <div class="form-group">
                      <p style="margin-bottom: 0px;">タイトル<span style="color: red;">*必須</span></p>
                      <input type="text" name='title' class="form-control input-sm" id="kaisai_pass"
                          placeholder="タイトル" value="">
                      <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <p style="margin-bottom: 0px;">開催団体<span style="color: red;">*必須</span></p>
                    <input type="text" name='organizing_organization' class="form-control input-sm" id="kaisai_name"
                        placeholder="開催団体" data-rule="minlen:1" data-msg="値を入力してください"
                        value="">
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <p style="margin-bottom: 0px;">イベント画像</p>
                    <input type="file" name='image' class="" id="kaisai_name"
                        placeholder="イベント画像" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                        value="">
                    <div class="validation"></div>
                　</div>
                <div class="form-group">       
                    <label>対象年齢<span style="color: red;">*必須</span></label>
                    <div class="myfoam">
                        <select name="month">
                        <option value="0" >選択してください</option>
                                                                                    <option value="0" >0</option>
                                                                                    <option value="1" >1</option>
                                                                                    <option value="2" >2</option>
                                                                                    <option value="3" >3</option>
                                                                                    <option value="4" >4</option>
                                                                                    <option value="5" >5</option>
                                                                                    <option value="6" >6</option>
                        </select>歳
                        ～
                        <select name="day">
                          <option value="0">選択してください。</option>
                                                                                    <option value="0" >0</option>
                                                                                    <option value="1" >1</option>
                                                                                    <option value="2" >2</option>
                                                                                    <option value="3" >3</option>
                                                                                    <option value="4" >4</option>
                                                                                    <option value="5" >5</option>
                                                                                    <option value="6" >6</option>
                      </select>歳
                    </div>
                </div>
                <div class="form-group">
                    <p style="margin-bottom: 0px;">主催者<span style="color: red;">*必須</span></p>
                    <input type="text" name='title' class="form-control input-sm" id="kaisai_name"
                        placeholder="主催者" data-rule="minlen:1" data-msg="値を入力してください"
                        value="">
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <p style="margin-bottom: 0px;">ハッシュタグ</p>
                    <input type="text" name='tag' class="form-control input-sm" id="kaisai_name"
                        placeholder="ハッシュタグ" data-rule="minlen:1" data-msg="値を入力してください"
                        value="">
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <p style="margin-bottom: 0px;">参加費用<span style="color: red;">*必須</span></p>
                    <input type="text" name='cost' class="form-control input-sm" id="kaisai_name"
                        placeholder="参加費用" data-rule="minlen:1" data-msg="値を入力してください"
                        value="">
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <p style="margin-bottom: 0px;">イベント説明文<span style="color: red;">*必須</span></p>
                    <textarea class="textarea" name="NPO_purpose" cols="40" rows="8" placeholder="目的"></textarea>
                    <div class="validation"></div>
                </div>
                

                <div>
                        <!-- 開催日程-->
                        <tr>開催日程・募集期間<span style="color: red;">*必須</span></tr>
                        <br>
                        <tr>
                             <td>開始日時</td>
                            <td><br>
                                    <tr>
                                        
                                        <td><input type="date" name='start_day' class="" id="kaisai_name"
                                        placeholder="日にちを入力" size="20" style="px;" data-rule="minlen:1" data-msg="値を入力してください"
                                        value=""></td>
                                    </tr><br>
                                    <tr>
                                        
                                        <td><input type="time" name='start_time' class=" id="kaisai_name"
                                        placeholder="時間を入力" size="20" style="px;" data-rule="minlen:1" data-msg="値を入力してください"
                                        value=""></td>
                                    </tr>
                            </td>
                        </tr><br>
                        <!-- 終了日時-->
                        <br><tr>
                            <td>終了日時</td>
                        <td><br>
                                <tr>
                                        
                                        <td><input type="date" name='kaisai_name' class="" id="kaisai_name"
                                            placeholder="日にちを入力" size="20" style="px;" data-rule="minlen:1" data-msg="値を入力してください"
                                            value=""></td>
                                </tr><br>
                                <tr>
                                    
                                    <td><input type="time" name='kaisai_name' class="" id="kaisai_name"
                                    placeholder="時間を入力" size="20" style="px;" data-rule="minlen:1" data-msg="値を入力してください"
                                    value=""></td>
                                </tr>
                        </td>
                        </tr><br>
                        <!--募集開始-->
                        <br><tr>
                            <td>募集開始</td>
                        <td><br>
                                <tr>
                                    <!--<td>日</td>-->
                                    <td><input type="date" name='kaisai_name' class="" id="kaisai_name"
                                        placeholder="日にちを入力" size="20" style="width:px;" data-rule="minlen:1" data-msg="値を入力してください"
                                        value=""></td>
                                    </tr><br>
                                    <tr>
                                    <!--<td>時間</td>-->
                                    <td><input type="time" name='kaisai_name' class="" id="kaisai_name"
                                    placeholder="時間を入力" size="20"  data-rule="minlen:1" data-msg="値を入力してください"
                                    value=""></td>
                                </tr>
                        </td>
                        </tr><br>
                        <!--終了-->
                        <br><tr>
                            <td>終了日</td>
                        <td><br>
                                <tr>
                                        
                                        <td><input type="date" name='end_day' class="" id="kaisai_name"
                                            placeholder="日にちを入力" size="20"  data-rule="minlen:1" data-msg="値を入力してください"
                                            value=""></td>
                                    </tr><br>
                                    <tr>
                                    
                                    <td><input type="time" name='end_time' class="" id="kaisai_name"
                                        placeholder="時間を入力" size="20"  data-rule="minlen:1" data-msg="値を入力してください"
                                        value=""></td>
                                </tr>
                        </td>
                        </tr>
                </div>
                </form>
                       
          
            <br>
                    <tr>開催場所<span style="color: red;">*必須</span></tr>
                    <tr>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;">会場名</p>
                                    <input type="text" name='venue_name' class="form-control input-sm" id="kaisai_name"
                                        placeholder="会場名" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                        value="">
                                    <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;">市町村</p>
                                    <input type="text" name='plane' class="form-control input-sm" id="kaisai_name"
                                        placeholder="市町村" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                        value="">
                                    <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <p style="margin-bottom: 0px;">番地以下</p>
                                    <input type="text" name='plane' class="form-control input-sm" id="kaisai_name"
                                        placeholder="番地以下" size="20" data-rule="minlen:1" data-msg="値を入力してください"
                                        value="">
                                    <div class="validation"></div>
                            </div>
                    </tr>
            </section> 
    </div>
    </div>
    </div>
    <p>
      <div align = "center">
      <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" value="作成" onclick="">
      <input class="btn btn-secondary btn-lg" type="submit" name="btn" value="保存" onclick="">
      <input class="btn btn-secondary btn-lg" type="submit" name="delete_btn" value="削除" onclick="">

      </div>
    </p>
    <br>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

    <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/~j2020tmD/sources/front/js/main.js"></script>
    {include file="../components/footer.tmpl"}
</body>

</html>