<?php
//イベント検索画面

?>

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {include file="../components/header.tmpl"}

    <div>
        <form name="form1" method="get" action="">
            <div class="">
                <div class="">
                    <label>キーワード</label>
                    <input type="text" name="keyword">
                </div>

                <div class="">
                    <label>開催日</label>
                    <input type="date" name="start_event_date">
                    ~
                    <input type="date" name="end_event_date">
                </div>

                <div class="">
                    <label>対象年齢</label>
                    <input type="text" name="start_age"> ~ <input type="text" name="end_age">
                </div>
            </div>

            <div class="">
                <div class="">
                    <label>開催場所</label>
                        <select name="pref">
                        <option value="place">郡山市</option>
                        </select>
                </div>
                <div class="">
                    <label>関連タグ</label>
                    <input type="text">
                </div>
                <input type="submit" value="検索">
            </div>
            <input type="hidden" name="search" value="" />
        </form>
    </div>

    <div class="">
        <hr>検索結果({$rows|@count}件)<hr>
        <div class="">
        {foreach from=$rows key=k item=value}            
            <div class="">
                {$value.start_event_date}<br>
                ({$value.start_event_week})
            </div>
            <div class="">
                <p>
                    {$value.start_event_time|date_format:"%H:%M"}~<br>
                </p>
                <p>
                    対象年齢<br>
                    {$value.start_age}歳~{$value.end_age}歳
                </p>
            </div>
            <div class="">
                <img src="https://pbs.twimg.com/profile_images/747300073134915586/bGWrw26Y.jpg">
            </div>
            <div class="">
                <p>
                    {$value.group_name}<br>
                </p>
                <p>
                    郡山シーパラダイス 郡山神保町2丁目32
                </p>
                9/27 人
            </div>
        {foreachelse}
            検索結果が見つかりません
        {/foreach}
        </div>
    </div>
    {include file="../components/footer.tmpl"}
</body>

</html>
