<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="../img/wakaba.png">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/front.css">
  <title>わかばくらぶ</title>

<body>
  {include file="../components/header.tmpl"}


  <!--<h1>ホーム</h1>
    <div align="center">
        <div>
            <img src="" alt="スライド">
        </div>
        <div>
            hoge hoge
        </div>
    </div>-->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(./img/Kodomo5.jpg)">
        </div>


        <div class="carousel-item" style="background-image: url(./img/Kodomo1.jpg)">
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(./img/recent-photos-02.jpg)">
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(./img/Kodomo4.jpg)">
        </div>

        <div class="carousel-item" style="background-image: url(./img/Kodomo7.jpg)">
        </div>


      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->
  <br>
  <!-- ======= My & Family Section ======= 本文-->

  <div id='center' class="main center">
    <div class="container">
      <div class="section-title">
        <h2>イベントを探す</h2>
      </div>
      <br>
      <div align="left">
        <div>

          <form name="form1" method="get" action="">
            <div>
              <span><label>・キーワード</label></span>
              <input type="text" name="keyword">

              <label> ｌ</label>

              <label>・関連タグ</label>
              <input type="text">
              <br>
            </div>
            <br>
            <div>
              <span><label>・対象年齢</label></span>
              <select name="start_age">
                <option value="">選択してください</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select> 歳
              ～
              <select name="end_age">
                <option value="">選択してください</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select> 歳
            </div>
            <br>
            <div>
              <span><label>・開催日</label></span>
              <input type="date" name="start_event_date">
              ~
              <input type="date" name="end_event_date">
              <label>　ｌ</label>
              <label>・開催場所</label>
              <select name="venue_city">
                <option value="">選択してください</option>
                <option value="郡山市">郡山市</option>
                <option value="須賀川市">須賀川市</option>
              </select>
            </div>
            <div align="right">
              <div class="row">
                <div class="col-md-10">
                  <div>
                    <input class="btn btn-outline-primary btn-lg" type="submit" value="検索">
                    <input type="hidden" name="search" value="" />
                  </div>
                </div>
              </div>
            </div>
        </div>
        </form>
      </div>

      <div class="container">
        <div align="left">
          <hr>
          <h2>新着イベント</h2>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <div>
                <h4><b>家族で水族館へ行こう！</b></h4>
              </div>
              <img src="../img/SHI1987004.jpeg" class="img-fluid img-thumbnail"
                style="width:480px;height:180px;object-fit: cover;" alt="">
            </div>
            <div class="col-md-6">
              <br>
              <br>
              <div>
                <b>・日付/時間</b>：2020-07-12 (日) 14:00~
              </div>
              <br>
              <div>
                <b>・対象年齢</b>：1歳~6歳
              </div>
              <br>
              <div>
                <b>・開催団体</b>：wiz保育部
              </div>
              <br>
              <div>
                <b>・開催場所</b>：郡山シーパラダイス 郡山神保町2丁目32
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3 align=right>１０/１２ 人</h3>
          </div>
          <hr>
        </div>
      </div>
      <div id='center' class="main center">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div>
                <h4><b>シャボン玉で遊ぼう</b></h4>
              </div>
              <img src="../img/soap_bubble.jpg" class="img-fluid img-thumbnail"
                style="width:480px;height:180px;object-fit: cover;" alt="">
            </div>
            <div class="col-md-6">
              <br>
              <br>
              <div>
                <b>・日付/時間</b>：2020-07-16 (木) 12:00~
              </div>
              <br>
              <div>
                <b>・対象年齢</b>：5歳~10歳
              </div>
              <br>
              <div>
                <b>・開催団体</b>：郡山総合保育団体
              </div>
              <br>
              <div>
                <b>・開催場所</b>：うつみね幼稚園 須賀川市あかば町111
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3 align=right>９/２７ 人</h3>
          </div>
          <hr>
        </div>
      </div>

</body>

</html>

</section><!-- End Features Section -->

<!-- ======= Recent Photos Section ======= -->
<div class="section-title2">
  <br>
  <h2>新着情報</h2>
  <p></p>
</div>
<section id="why-us" class="wow fadeIn">
  <div class="container">

    <div class="row row-eq-height justify-content-center">
      <div class="col-lg-12 mb-4">
        <div class="card wow bounceInUp">
          <div class="card-body">
            <table class="table01 table table-bordered table-hover" style="color: white">
              <tr class="odd first">
                <th class="text-center">2020-08-24</th>
                <td class="text-left">メンテナンスのお知らせ</td>
              </tr>
              <tr class="odd first">
                <th class="text-center">2020-08-21</th>
                <td class="text-left">メンテナンスのお知らせ</td>
              </tr>
              <tr class="odd first">
                <th class="text-center">2020-08-10</th>
                <td class="text-left">メンテナンスのお知らせ</td>
              </tr>
              <tr class="odd first">
                <th class="text-center">2020-08-05</th>
                <td class="text-left">メンテナンスのお知らせ</td>
              </tr>
              <tr class="odd first">
                <th class="text-center">2020-08-03</th>
                <td class="text-left">メンテナンスのお知らせ</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section><!-- End Recent Photos Section -->
<!--<section id="recent-photos" class="recent-photos2">
      <div class="container">

        <div class="section-title2">
          <h2>新着イベント</h2>
            <div class="owl-carousel recent-photos-carousel">
            <a href="css/img/recent-photos/recent-photos-01.jpg" class="venobox" data-gall="recent-photos-carousel"><img src="css/img/recent-photos/recent-photos-01.jpg" alt=""></a>
            <a href="css/img/recent-photos/recent-photos-02.jpg" class="venobox" data-gall="recent-photos-carousel"><img src="css/img/recent-photos/recent-photos-02.jpg" alt=""></a>
            <a href="css/img/recent-photos/recent-photos-03.jpg" class="venobox" data-gall="recent-photos-carousel"><img src="css/img/recent-photos/recent-photos-03.jpg" alt=""></a>
            <a href="css/img/recent-photos/recent-photos-04.jpg" class="venobox" data-gall="recent-photos-carousel"><img src="css/img/recent-photos/recent-photos-04.jpg" alt=""></a>
            <a href="css/img/recent-photos/recent-photos-05.jpg" class="venobox" data-gall="recent-photos-carousel"><img src="css/img/recent-photos/recent-photos-05.jpg" alt=""></a>
          </div>
        </div>
    </section>
  </div>-->
</main><!-- End #main -->
<br>
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="./js/main.js"></script>
{include file="../components/footer.tmpl"}

</body>

</html>