<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {include file="../components/header.tmpl"}

    <h1>ホーム</h1>
    <div align="center">
        <div>
            <img src="" alt="スライド">
        </div>
        <div>
            hoge hoge 
        </div>
    </div>

    {include file="../components/footer.tmpl"}

</body>

</html>