<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{include file="../components/header.tmpl"}

<body>
    <header>
    <nav class="">
    <ul>
    <li><a class="active" href="mypage/userprofile.php">マイページ</a></li>
    <li><a href="event_search.php">新着イベント</a></li>
    <li><a href="event_detail.php">イベント編集</a></li>
    <li><a href="event_create.php">イベント作成</a></li>
    <li><a href="login.php">ログイン</a></li>
    </ul>
    </nav>
    </header>

    <h1>ホーム</h1>
    <div align="center">
        <div>
            <img src="" alt="スライド">
        </div>
        <div>
            hoge hoge 
        </div>
    </div>

    <footer>
    <nav class="">
    <ul>
    <li><a class="active" href="support/guides.php">利用ガイド</a></li>
    <li><a href="support/faq.php">よくある質問</a></li>
    <li><a href="support/terms.php">利用規約</a></li>
    <li><a href="support/privacy.php">プライバシーポリシー</a></li>
    <li><a href="support/inquiry.php">お問い合わせ</a></li>
    </ul>
    </nav>
    </footer>

</body>

</html>