<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>わかばくらぶ</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="../img/wakaba.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">

  {literal}
  <script type="text/javascript">
    <!--
    function set_func_form(fn,pm){
      document.form1.target = "_self";
      document.form1.func.value = fn;
      document.form1.param.value = pm;
      document.form1.submit();
    }
    
    var i = 1 ;
    function addForm() {
      // // p要素作成
      //var newContent = document.createTextNode("お子様の名前(ニックネーム可) <span style="color: red;">*必須</span>"); // テキストノードを作成
      //newElement.appendChild(newContent); // p要素にテキストノードを追加
      //newElement.setAttribute("style","margin-bottom: 0px;"); // p要素にidを設定

      // テキスト
      var newElement = document.createElement("p");
      var newContent = document.createTextNode("お子様の名前(ニックネーム可)" + i);
      newElement.style.cssText = "margin-bottom: 0px;";
      newElement.appendChild(newContent);
      // テキスト2
      var newElement2 = document.createElement("p");
      var newContent2 = document.createTextNode("お子様の年齢" + i);
      newElement2.style.cssText = "margin-bottom: 0px;";
      newElement2.appendChild(newContent2);
      // テキスト3
      var newElement3 = document.createElement("p");
      var newContent3 = document.createTextNode("お子様の性別" + i);
      newElement3.style.cssText = "margin-bottom: 0px;";
      newElement3.appendChild(newContent3);
      // input生成
      var input_data = document.createElement('input');
      input_data.name = 'children_name' + i;
      input_data.type = 'text';
      input_data.className = 'form-control input-sm'
      input_data.id = 'kaisai_pass';
      input_data.placeholder = 'お子様の名前' + i;
      // input2
      var input_data2 = document.createElement('input');
      input_data2.name = 'children_age' + i;
      input_data2.type = 'text';
      input_data2.className = 'form-control input-sm'
      input_data2.id = 'kaisai_pass';
      input_data2.placeholder = '年齢' + i;
      // radio
      var input_data3 = document.createElement('input');
      var label1 = document.createElement('label');
      input_data3.name = 'children_sex' + i;
      input_data3.type = 'radio';
      input_data3.value = 0;
      input_data3.checked = "checked";
      label1.innerHTML = "男性";
      // radio
      var input_data4 = document.createElement('input');
      var label2 = document.createElement('label');
      input_data4.name = 'children_sex' + i;
      input_data4.type = 'radio';
      input_data3.value = 1;
      label2.innerHTML = "女性"

      // フックするId
      var parent = document.getElementById('children');
      parent.appendChild(newElement);
      parent.appendChild(input_data);
      parent.appendChild(newElement2);
      parent.appendChild(input_data2);
      parent.appendChild(newElement3);
      parent.appendChild(input_data3);
      parent.appendChild(label1);
      parent.appendChild(input_data4);
      parent.appendChild(label2);
      i++ ;
      document.form1.length.value = i;
    }
    // -->
    </script>
    {/literal}
</head>
{include file="../components/header.tmpl"}
<body>

  <!-- ======= 入力欄 ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <br><h2>新規会員登録</h2>
        <p>ここでは会員登録をすることができます。<br>
          各項目を入力して登録してください。<br>
          お子様が複数人の場合は、追加ボタンを押して新たに情報を入力してください</p>
      </div><br>

      
      <div class="">
      {$err_flag}
        <form name="form1" action="{$smarty.server.PHP_SELF}" method="post" >
          <tr>
          <div class="form-group">
              <p style="margin-bottom: 0px;">ユーザー名(ニックネーム可)<span style="color: red;">*必須</span></p>
              <input type="text" name='user_name' class="form-control input-sm" id="kaisai_pass"
                  placeholder="ユーザー名" value="{$smarty.post.user_name|escape}">
              {if isset($err_array.user_name) }<br /><span class="red">{$err_array.user_name}</span>{/if}
              <div class="validation"></div>
          </div>
          <div class="form-group">
            <p style="margin-bottom: 0px;">ユーザーID<span style="color: red;">*必須</span></p>
            <input type="text" name='user_id' class="form-control input-sm" id="kaisai_name"
                placeholder="ユーザーID" data-rule="minlen:1" data-msg="値を入力してください"
                value="{$smarty.post.user_id|escape}">
            {if isset($err_array.user_id) }<br /><span class="red">{$err_array.user_id}</span>{/if}
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <p style="margin-bottom: 0px;">メールアドレス<span style="color: red;">*必須</span></p>
            <input type="email" name='address' class="form-control input-sm" id="kaisai_name"
              placeholder="メールアドレス" data-rule="minlen:1" data-msg="値を入力してください"
              value="{$smarty.post.address|escape}">
            {if isset($err_array.address) }<br /><span class="red">{$err_array.address}</span>{/if}
            <div class="validation"></div>
          </div>
          <tr>
            <th>性別</th>
            <td>
              <p>
                <input type="radio" name="sex" value="0" {if $smarty.post.sex== 0 }checked="checked"{/if} />男性&nbsp;
                <input type="radio" name="sex" value="1" {if $smarty.post.sex == 1 }checked="checked"{/if} />女性
              </p>
            </td>
          </tr>
          <div class="form-group">
              <p style="margin-bottom: 0px;">生年月日<span style="color: red;">*必須</span></p>
              <input type="date" name='birthday' class="" id="kaisai_name"
                placeholder="生年月日" data-rule="minlen:1" data-msg="値を入力してください"
                value="{$smarty.post.birthday|escape}">
              {if isset($err_array.birthday) }<br /><span class="red">{$err_array.birthday}</span>{/if}
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <p style="margin-bottom: 0px;">パスワード</p>
            (半角英数字8～20文字)
            <input type="password" name='pw' class="form-control input-sm" id="kaisai_name"
              placeholder="パスワード" data-rule="minlen:1" data-msg="値を入力してください"
              value="{$smarty.post.pw|escape}">
            {if isset($err_array.pw) }<br /><span class="red">{$err_array.pw}</span>{/if}
            <div class="validation"></div>
          </div>
          <div class="form-group">
              <p style="margin-bottom: 0px;">パスワードの再確認</p>
              <input type="password" name='repw' class="form-control input-sm" id="kaisai_name"
              placeholder="パスワード" data-rule="minlen:1" data-msg="値を入力してください"
              value="">
            <div class="validation"></div>
          </div>
          <!-- 子供 -->
          
          <div class="form-group" id="children">
            <p style="margin-bottom: 0px;">お子様の名前(ニックネーム可)<span style="color: red;">*必須</span></p>
            <input type="text" name='children_name' class="form-control input-sm" id="kaisai_pass"
                placeholder="お子様の名前" value="">
            <div class="validation"></div>
            <div class="form-group">
            <p style="margin-bottom: 0px;">お子様の年齢<span style="color: red;">*必須</span></p>
            <input type="text" name='children_age' class="" id="kaisai_name"
              placeholder="年齢" data-rule="minlen:1" data-msg="値を入力してください"
              value="">
            <div class="validation"></div>
          </div>
          <tr>
          <th>お子様の性別</th>
            <td>
              <p>
                <input type="radio" name="children_sex" value=1 checked="checked">男性
                <input type="radio" name="children_sex" value=2>女性
              </p>
            </td>
          </tr>
          </div>
          
          <p>
            <input type="hidden" name="func" value="" />
            <input type="hidden" name="param" value="" />
            <div align = "center">
            <input class="btn btn-secondary btn-lg" type="submit" name="btn_submit" value="登録" onClick="javascript:set_func_form('conf','')">
            </div>
          </p>
        <br>
      </form>
      <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" value="+お子様の追加" onclick="addForm()">
      </div>
    </div>
  </section>

</body>
{include file="../components/footer.tmpl"}
</html>