<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>わかばくらぶ</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link href="/~j2020tmD/sources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/~j2020tmD/sources/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="../img/wakaba.png">

  {literal}
  <script type="text/javascript">
    < !--
      function set_func_form(fn, pm) {
        document.form1.target = "_self";
        document.form1.func.value = fn;
        document.form1.param.value = pm;
        document.form1.submit();
      }

    // -->
  </script>
  {/literal}
</head>
{include file="../components/header.tmpl"}

<body>

  <!-- ======= 入力欄 ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <br>
        <h2>新規会員登録</h2>
        <p>確認画面
        <p>
      </div><br>


      <div class="">
        {$err_flag}
        <form name="form1" action="{$smarty.server.PHP_SELF}" method="post">
          <tr>
            <div class="form-group">
              <p style="margin-bottom: 0px;">ユーザー名(ニックネーム可)</p>
              <input type="text" name='user_name' class="form-control input-sm" id="kaisai_pass" readonly
                placeholder="ユーザー名" value="{$smarty.post.user_name|escape}">
              {if isset($err_array.user_name) }<br /><span class="red">{$err_array.user_name}</span>{/if}
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <p style="margin-bottom: 0px;">ユーザーID</p>
              <input type="text" name='user_id' class="form-control input-sm" id="kaisai_name" readonly
                placeholder="ユーザーID" data-rule="minlen:1" data-msg="値を入力してください" value="{$smarty.post.user_id|escape}">
              {if isset($err_array.user_id) }<br /><span class="red">{$err_array.user_id}</span>{/if}
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <p style="margin-bottom: 0px;">メールアドレス</p>
              <input type="email" name='address' class="form-control input-sm" id="kaisai_name" readonly
                placeholder="メールアドレス" data-rule="minlen:1" data-msg="値を入力してください" value="{$smarty.post.address|escape}">
              {if isset($err_array.address) }<br /><span class="red">{$err_array.address}</span>{/if}
              <div class="validation"></div>
            </div>
          <tr>
            <th>性別</th>
            <td>
              <p>{if $smarty.post.sex== 0}
                <input type="radio" name="sex" readonly value="0" checked="checked" />男性
                {else}
                <input type="radio" name="sex" readonly value="1" checked="checked" />女性
                {/if}
              </p>
            </td>
          </tr>
          <div class="form-group">
            <p style="margin-bottom: 0px;">生年月日</p>
            <input type="date" name='birthday' class="form-control input-sm" id="kaisai_name" placeholder="生年月日"
              data-rule="minlen:1" data-msg="値を入力してください" readonly value="{$smarty.post.birthday|escape}">
            {if isset($err_array.birthday) }<br /><span class="red">{$err_array.birthday}</span>{/if}
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <p style="margin-bottom: 0px;">パスワード</p>
            (半角英数字8～20文字)
            <input type="password" name='pw' class="form-control input-sm" id="kaisai_name" readonly placeholder="パスワード"
              data-rule="minlen:1" data-msg="値を入力してください" value="{$smarty.post.pw|escape}">
            {if isset($err_array.pw) }<br /><span class="red">{$err_array.pw}</span>{/if}
            <div class="validation"></div>
          </div>

          <!-- 子供 -->

          <div class="form-group" id="children">
            <p style="margin-bottom: 0px;">お子様の名前(ニックネーム可)</p>
            <input type="text" name='children_name' class="form-control input-sm" id="kaisai_pass" readonly
              placeholder="お子様の名前" value="{$smarty.post.children_name|escape}">
            <div class="validation"></div>

            <div class="form-group">
              <p style="margin-bottom: 0px;">お子様の年齢</p>
              <input type="text" name='children_age' class="form-control input-sm" id="kaisai_name" readonly
                placeholder="年齢" data-rule="minlen:1" data-msg="値を入力してください" value="{$smarty.post.children_age|escape}">
              <div class="validation"></div>
            </div>

            <tr>
              <th>お子様の性別</th>
              <td>
                <p>{if $smarty.post.children_sex== 1}
                  <input type="radio" readonly name="children_sex" value=1 checked="checked">男性
                  {else}
                  <input type="radio" readonly name="children_sex" value=2 checked="checked">女性
                  {/if}
                </p>
              </td>
            </tr>
          </div>

          <p>
            <input type="hidden" name="func" value="" />
            <input type="hidden" name="param" value="" />
          <div align="center">
            <input class="btn btn-secondary btn-lg" type="submit" name="btn_submit" value="登録"
              onClick="javascript:set_func_form('set','')">
          </div>
          </p>
          <br>
        </form>
      </div>
  </section>

</body>
{include file="../components/footer.tmpl"}

</html>