<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<footer>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="my-2 my-md-0 mr-md-3">
            <a class = "active" href="support/guides.php">利用ガイド</a>
            <a href="support/faq.php">よくある質問</a>
            <a href="support/terms.php">利用規約</a>
            <a href="support/privacy.php">プライバシーポリシー</a>
            <a href="support/inquiry.php">お問い合わせ</a>
            <p align="right">企業名</p>
        </nav>
    </div>
</footer>