<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--<link rel="stylesheet" href="../css/admin_base.css">
    <link rel="stylesheet" href="../css/user_list.css">-->
    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <meta content="" name="descriptison">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="css/img/favicon.png" rel="icon">
<link href="css/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="css/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="css/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="css/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="css/vendor/venobox/venobox.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="css/css/style.css" rel="stylesheet">

</head>

<footer id="footer">
    <div class="container">
       
            <li><a href="guide.php">利用ガイド</a></li>
            <li><a href="question.php">よくある質問</a></li>
            <li><a href="terms_of_service.php">利用規約</a></li>
            <li><a href="privacy.php">プライバシーポリシー</a></li>
            <li><a href="contact_us.php">お問い合わせ</a></li>
            <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        </nav>
    </div>
</footer>
<footer1 id="footer1">
    <div class="credits1">
          &copy; Copyright <strong><span>MeFamily</span></strong>. All Rights Reserved
        </div>
        <div class="credits1">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
          
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
      </div>
    </div>
    </footer1>
  
  
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="css/vendor/jquery/jquery.min.js"></script>
    <script src="css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="css/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="css/vendor/php-email-form/validate.js"></script>
    <script src="css/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="css/vendor/venobox/venobox.min.js"></script>
    <script src="css/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="css/js/main.js"></script>