
<footer id="footer">
    <div class="container">
            <li><a href="/~j2020tmD/sources/front/support/Guides_Page.php">利用ガイド</a></li>
            <li><a href="/~j2020tmD/sources/front/support/Faq_Page.php">よくある質問</a></li>
            <li><a href="/~j2020tmD/sources/front/support/Terms_Page.php">利用規約</a></li>
            <li><a href="/~j2020tmD/sources/front/support/Privacy_Page.php">プライバシーポリシー</a></li>
            <li><a href="/~j2020tmD/sources/front/support/Inquiry_Page.php">お問い合わせ</a></li>
            <div class="social-links">
            <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/?hl=ja" class="instagram"><i class="bx bxl-instagram"></i></a>
        </nav>
    </div>
  </div>
</footer>
<footer1 id="footer1">
    <div class="credits1">
          <br><br><!--&copy; Copyright <strong><span>MeFamily</span></strong>. All Rights Reserved<br>-->
       
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
          
            <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>
    </footer1>
  
  
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
