 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/~j2020tmD/sources/front/Home_Page.php">わかばくらぶ</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

     <!--ナビゲーションクラス-->
      <nav class="nav-menu d-none d-lg-block">

        <ul>
            {foreach from=$page item=href key=key_name}
                <li class="active"><a href={$href}>{$key_name}</a></li>
            {/foreach}
        
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
