<header>
    <nav class="">
    <ul>
    <li><a class="active" href="./mypage/userprofile.php">マイページ</a></li>
    <li><a href="./event_search.php">新着イベント</a></li>
    <li><a href="./event_detail.php">イベント編集</a></li>
    <li><a href="./event_create.php">イベント作成</a></li>
    <li><a href="./login.php">ログイン</a></li>
    </ul>
    </nav>
</header>