<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>サイト名 <span>サイト名</span></li>
      {foreach from=$page item=href key=key_name}
        <li><a href={$href}></i>{$key_name}</a></li>
      {/foreach}
    </ul>
  </div>
