<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <h1>よくある質問</h1>
    <P><h3>イベント関連</h3>
        Q. イベントの対象年齢ではない子供イベントに参加させる事はできますか?<br>
        A. イベント主催者にご連絡ください
    </P>
    <p><h3>ログイン</h3>
        Q. ログインできない<br>
        A. ユーザーIDとパスワードが間違っていないかご確認ください
    </p>
    {include file="../../components/footer.tmpl"}
</body>
</html>