<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
                  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
        <title>よくある質問</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left"> 
    <h1>よくある質問</h1><a style="color:#F5FFFA">Q. ログインできない</a><br>
    <hr>
    <P><h3>このサイトに関して</h3>
        <a style="color:blue">Q. そもそもこのサイトは何？</a><br>
        <br>
        <a style="color:red">A. 未就学児の子供を持っている親子を
            メインユーザーとしたイベント情報を載せたサイトです</a>
        <br><br>
        <a style="color:blue">Q. どのような機能がありますか？</a><br>
        <br>
        <a style="color:red">A. イベントの予約や検索、
            イベントの企画など様々な機能があります。
            詳しくは利用ガイドをご覧ください。</a>
    </P>
    <hr>
    <P><h3>イベント関連</h3>
        <a style="color:blue">Q. イベントの対象年齢ではない子供をイベントに参加させる事はできますか?</a><br>
        <br>
        <a style="color:red">A. イベント主催者にご確認ください</a>
        <br><br>
        <a style="color:blue">Q. 保護者は何人でも大丈夫ですか?</a><br>
        <br>
        <a style="color:red">A. イベント主催者にご確認ください</a>
        <br><br>
        <a style="color:blue">Q. 当日のイベントキャンセルはできますか?</a><br>
        <br>
        <a style="color:red">A. イベント主催者にご確認ください</a>
        <br><br>
        <a style="color:blue">Q. 参加人数の変更はできますか?</a><br>
        <br>
        <a style="color:red">A. イベント主催者にご確認ください</a>
    </P>
    </P>
    <hr>
    <p><h3>ログイン</h3>
        <a style="color:blue">Q. ログインできない</a><br>
        <br>
        <a style="color:red">A. ユーザーIDとパスワードが間違っていないかご確認ください</a>
        <br><br>
        <a style="color:blue">Q. パスワードの変更がしたい</a><br>
        <br>
        <a style="color:red">A. マイページ→プロフィールの変更から行うことができます</a>
    </p>
        </div>
        <hr>
        </div>
    </div>
    {include file="../../components/footer.tmpl"}
</body>
<script src="/~j2020tmD/sources/front/js/main.js"></script>

        <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>
</html>