<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <h1>利用ガイド</h1>
    <P><h3>登録までの流れ</h3>
        hoge
    </P>
    <p><h3>イベント参加の方法</h3>
        hoge
    </p>
    {include file="../../components/footer.tmpl"}
</body>
</html>