<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="../../img/wakaba.png">
    <link rel="stylesheet" href="/~j2020tmD/sources/front/css/style.css">

    <title>わかばくらぶ</title>
</head>

<body>
    {include file="../../components/header.tmpl"}    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left"> 
    <h1>利用ガイド</h1>
    <hr>
    <P><h3>会員登録について</h3><br>
        1.新規会員登録ページより必須項目にお客さまの情報をご入力ください。<br>
        2.ご入力いただいた内容に問題がなければ登録ボタンより新規会員登録を完了してください。
    <hr>
    <P><h3>登録までの流れについて</h3><br>
        1.イベント作成ページより必須項目をご入力ください。<br>
        2.ご入力いただいた内容に問題がなければ保存ボタンより登録を完了してください。
    </P>
    <hr>
    <p><h3>イベント編集の方法について</h3><br>
        1.まずはイベント編集ページよりお客様が登録したイベントを選択してください。<br>
        2.編集したいイベント選んでいただき編集を行ってください。<br>
        3.編集いただいた内容に問題がなければ保存ボタンより編集を完了してください。
    </p>  
    <hr>
    <p><h3>イベント削除の方法について</h3><br>
        1.まずはイベント編集ページよりお客様が登録したイベントを選択してください。<br>
        2.削除したいイベントを選んでいただき削除を行ってください。<br>
        3.削除したいイベントに問題がなければ削除ボタンより削除を完了してください。
    </p>  
    <hr>
    <p><h3>イベント参加の方法について</h3><br>
        1.メインページ、新着イベントより、イベント検索画面へ移動します。<br>
        2.検索したいイベントの内容、キーワードなどをご入力いただき検索ボタンより検索を行ってください。<br>
        3.お客様が参加したいと思ったイベントがありましたらイベント内容をもう一度ご確認の上ご参加ください。
    </p>
</div>
    <hr>
    </div>
</div>
    {include file="../../components/footer.tmpl"}
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

        <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>
</body>
</html>