<!DOCTYPE html>
<html lang="ja">


    <head>
        <title>問い合わせ</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
                  <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">

    {literal}
    <script type="text/javascript">
   
    function set_func_form(fn,pm){
        document.form1.target = "_self";
        document.form1.func.value = fn;
        document.form1.param.value = pm;
        document.form1.submit();
    }
    function check(){
    var err = "";
    if(form1.inquiry.value == ""){
        err += "お問い合わせの種類を選択してください\n"
    }
    if(form1.Content.value == ""){
        err += "お問い合わせ内容を入力してください\n"
    }
    if(form1.mailaddress.value == ""){
        err += "メールアドレスを入力してください"
    }
    if (err == ""){
    set_func_form('confirm','');
    }else{
        alert(err);
    }
    }
    // -->
    </script>
    {/literal}
</head>


<body>
    {include file="../../components/header.tmpl"}
    <br><br><br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left">
    <h1>お問い合わせ</h1>

    <hr>
            <p>お問い合わせの種類・内容・メールアドレスをご入力の上、
            「送信」ボタンをクリックしてください。<br>
            ユーザー様はユーザーIDも入力してください。<br>
            <span style="color: red;">*全ての項目を入力してください</span>
        </p>
    
        <p>お問い合わせの種類<br>
            <form name="form1" method="POST" action="">
                <select name="inquiry">
                    <option value="">選択してください</option>
                    <option value="login">ログインできない</option>
                    <option value="signup">会員登録について</option>
                    <option value="black">迷惑行為、誹謗中傷をされた</option>
                    <option value="other">その他</option>
                </select>
        </p>
        <p>お問い合わせ内容<br>
            <textarea class = "textarea" name="Content" id="reply_content" ></textarea>
        </p>
        <div class="form-group">
            <p style="margin-bottom: 0px;">メールアドレス</p>
            <input type="email" name='mailaddress' class="form-control input-sm" id="kaisai_name"
              placeholder="メールアドレス" data-rule="minlen:1" data-msg="値を入力してください">
            <div class="validation"></div>
        </div>
        <div class="form-group">
            <p style="margin-bottom: 0px;">ユーザーID</p>
            <input type="text" name='userId' class="form-control input-sm" id="kaisai_name"
                placeholder="ユーザーID" data-rule="minlen:1" data-msg="値を入力してください">
            <div class="validation"></div>
        </div>
        <input type="hidden" name="func" value="" />
        <input type="hidden" name="param" value="" />
        </form>
        <div align="center">
            <input class="btn btn-secondary btn-lg" type="submit" name="btn_confirm" value="送信"　 onclick="javascript:check()">
        </div>
    </div><br>
    </div><br>
</div>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>

        <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>
{include file="../../components/footer.tmpl"}
</body>
</html>