<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
                      <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
            <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
            <link rel="stylesheet" href="/~j2020tmD/sources/front/css/front.css">
    <title>プライバシーポリシー</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left"> 
    <h1>プライバシーポリシー</h1>
    <hr> 
    <br><h2>個人情報保護方針</h2><br>
        <div align="right">平成16年11月1日 制定<br>
                            平成26年6月24日 改定<br>
                            株式会社サイト名<br>
                            代表取締役社長 渡邉 和樹</div><br>
    <div>
        <div>株式会社サイト名（以下、「当社」といいます。）は インターネットメディア事業を中心に、世の中にない新しい価値を生み出す企業を
            目指し、事業を展開している法人です。当社サービスにおいてはお客様から個人情報をお預かりするにあたり、個人情報を大切に保護する
            ことを企業の重要な社会的使命と認識し、役員はじめ役職員が個人情報保護に関する法令、国が定める指針およびその他の規範を遵守いた
            します。また、次に示す当社基本方針を具現化するために、日本工業規格「個人情報保護マネジメントシステム‐要求事項」（JIS Q 15001）に
            準拠した個人情報保護マネジメントシステムを策定し、常に社会的要請の変化に着目し、個人情報保護マネジメントシステムの継続的改善を
            含め全社を挙げて取り組むことを宣言します。</div><br><br>
        <div>
            <font size="5">1.個人情報保護マネジメントシステムの策定</font>
        </div><br>
        <div>当社は、個人情報への不正アクセス、個人情報の紛失、破壊、改ざんおよび漏洩などのリスクを認識し、予防並びに是正のために必要な
            対応策を講じます。また、個人情報の適切な取り扱いと運用のための基準・ルール・手順などを定めた個人情報保護マネジメントシステムを
            策定し、実施します。</div><br><br>

            <div>
                <font size="5">2.個人情報保護の組織活動</font>
            </div><br>
            <div>当社は、基本方針を具体的に実践するため、以下の活動を行います。</div>
            <div>
                1.役員はじめ役職員は、個人情報に関する法令、国が定める指針その他の規範を遵守します。<br>
                2.個人情報保護管理責任者を選任し、個人情報保護マネジメントシステムの実施および運用に関する責任と権限を与え、業務を行わせます。<br>
                3.個人情報保護監査責任者を選任し、個人情報の保護に関する実践と運用状況の内部監査を実施します。<br>
                4.お取引先の企業および個人に対し個人情報の保護に係わる協力を要請します。<br>
                5.基本方針は、当社のホームページ（）、当社エントランス、社内グループウエアなどに掲示・掲載することにより、<br>
                  いつでも社内外のどなたにも閲覧可能な状態とします。<br>
                6.個人情報保護マネジメントシステムは適宜見直しをし、継続的に改善します。
            </div><br><br>

            <div>
                <font size="5">3.個人情報保護の取り組み</font>
            </div><br>
            <div>当社は、基本方針を具体的に実践するため、以下の活動を行います。</div>
            <div>・個人の権利の尊重</div>
            <div>  当社は、個人情報に関する個人の権利を尊重し、自己の個人情報に対し、開示・訂正・削除・利用停止・苦情および相談等を求められたときは、合理的な
                    期間内に、妥当な範囲内でこれに応じます。 </div>
            <div>・個人情報の収集・利用・提供</div>
            <div></div>当社は個人情報の取得、利用および提供にあたり、個人に対し利用目的および提供の有無を明確にし、同意を得た上で、目的の範囲内に
                    利用し、目的外利用を行わないための措置を講じます。</div>
            <div>・安全対策の実施</div>
            <div>当社は、個人情報の紛失や社外への流出、もしくは不当に改ざんされるなどのトラブルを引き起こさないように社内の管理規程を
                        整備し、合理的な安全対策を講じそれを実施します。</div>

    </div>
    <hr>
    <br><h2>個人情報の取り扱いについて</h2><br><br>
    <div>
        <div>株式会社サイト名（以下「当社」といいます）は、当社がお預かりする個人情報の管理に細心の注意を払います。</div><br><br>
        <div>
            <font size="5">1.個人情報</font>
        </div><br>
        <div>個人情報とは、個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（
            他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます）を指します。
        </div><br><br>
        <div>
            <font size="5">2.個人情報の利用目的</font>
        </div><br>
        <div>当社が取得する個人情報は、以下の目的のために利用いたします。<br>
            当社のサービスをご利用いただく皆様に関する個人情報
        </div><br>
        <div>
            サービスのご提供およびご案内のため<br>
            ・サービスのご利用料金をご請求するため<br>
            ・サービスおよび広告配信をカスタマイズするため<br>
            ・ご本人へのご連絡のため<br>
            ・キャンペーン等のプレゼントの発送のため<br>
            ・サービスの改善や新サービスの開発等に役立てるため<br>
            ・利用規約に違反する態様でのご利用を防止するため<br>
            ・個人を識別できない形式に加工した統計データを作成するため<br><br>

            お取引先の皆様に関する個人情報<br>
            ・業務上必要なご連絡、契約の履行、商談等のため<br>
            ・取引先情報の管理のため<br><br>

            お問い合わせをいただく皆様に関する個人情報<br>
            ・お問い合わせ対応のため<br><br>

            セミナー・イベント等にご参加いただく皆様に関する個人情報<br>
            ・セミナー・イベント等の運営管理のため<br>
            ・セミナー・イベント等に関するご連絡、資料の発送のため<br><br>

            当社の採用選考にご応募いただく皆様に関する個人情報<br>
            ・採用応募者への情報提供、ご連絡、通知のため<br>
            ・採用選考の合否判定のため<br><br>

            提携人材紹介会社等より提供を受けた個人情報<br>
            ・当社の採用に関する情報提供、ご連絡、通知のため<br>
            ・採用選考の合否判定のため<br><br>

            委託を受けた個人情報<br>
            ・委託業務遂行のため<br><br>

            上記以外の個人情報の利用目的については、10. お問い合わせ先まで個別にお問い合わせください。
        </div><br><br>
        </div>
        <div>
            <font size="5">3.個人情報の委託</font>
        </div><br>
        <div>
            <div>当社は、利用目的の達成に必要な範囲内において、取得した個人情報の取り扱いの全部または
            一部を委託する場合があります。その場合には、個人情報の委託に係わる基本契約等の必要な契約を締結し、委託先への必要かつ適切な監督を行います。</div><br><br>
        </div>
        <div>
            <font size="5">4.個人情報の第三者への提供</font>
        </div><br>
        <div>
            <div>当社は、振込手続きを行うために、口座情報を金融機関に提供することがあります。その他、個人情報を第三者へ提供する場合には、
                提供先・提供内容を特定し、ご本人の事前の同意を得ることといたします。ただし、以下の場合はこの限りではありません。</div>
            <div>
                    1.法令に基づく場合<br>
                    2.人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難であるとき<br>
                    3.公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難であるとき<br>
                    4.国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、
                    ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br>
            </div><br><br>
        </div>
        <div>
            <font size="5">5. 個人情報の開示等の手続き</font>
        </div><br>
        <div>
            <div>当社は、ご本人より当該本人の個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去および第三者提供の停止
                （以下「開示等」といいます）のお申し出に対して、遅滞なく応じます。詳細は個人情報の開示等の手続きについてをご確認ください。</div><br><br>
        </div>
        <div>
            <font size="5">6.免責</font>
        </div><br>
        <div>
            <div>以下の場合は、当社は何ら責任を負いません。</div>
            <div>
                    1.ご本人が当社サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合<br>
                    2.ご本人が当社サービス上にて開示した情報等により、個人を識別できてしまった場合<br>
            </div><br><br>
        </div>
        <div>
            <font size="5">7.統計データの利用</font>
        </div><br>
        <div>
            <div>当社は、取得した個人情報をもとに、個人を識別できないように加工した統計データを作成することがあります。
                個人を識別できない統計データについては、当社は何ら制限なく利用することができるものとします。</div><br><br>
        </div>
        <div>
            <font size="5">8.属性情報や行動履歴等の取得・利用</font>
        </div><br>
        <div>
            <div>当社は、提供しているサービスや広告の内容をよりご本人に適したものとするために、以下を例とする特定の個人を
                識別できない情報を取得し、利用することがあります。これにはグループ会社による広告の配信での利用も含まれます。
                また、同様の目的で広告主や情報提供元、サービス提供元などに提供する場合があります。</div>
            <div>
                    ・クッキーやアクセスしたURL、コンテンツ、参照順などの行動履歴<br>
                    ・性別、職業、年齢などの属性情報<br><br>
            </div>
            <div>
                当社のサービスで利用する主な外部サービスは外部サービス利用例をご確認ください。
            </div><br><br>
        </div>
        <div>
            <font size="5">9.個人情報の委託</font>
        </div><br>
        <div>
            <div>当社は、本「個人情報の取り扱いについて」の全部または一部を改定することがあります。重要な変更がある場合には、
                サイト上でお知らせします。
            </div><br><br>
        </div>
        <div>
            <font size="5">10.お問い合わせ先</font>
        </div><br>
        <div>
            <div>当社は、本「個人情報の取り扱いについて」の全部または一部を改定することがあります。重要な変更がある場合には、
                サイト上でお知らせします。
            </div>
            <div>
                【Webの場合】お問い合わせフォーム<br>
                【郵送の場合】〒963-8811 福島県郡山市方八町２丁目４−１５ 個人情報保護管理責任者宛<br>
            </div><br><br>
        </div>
        <div align="right">以上<br>
            平成28年2月15日 改定</div><br>
    
    </div>

        </div>
        </div>
        </div>
    {include file="../../components/footer.tmpl"}
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

        <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>
</body>

</html>