<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/~j2020tmD/sources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
                      <link href="/~j2020tmD/sources/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="/~j2020tmD/sources/css/adminmin_base.css" rel="stylesheet">
            <link href="/~j2020tmD/sources/css/style.css" rel="stylesheet">
    <title>利用規約</title>
</head>

<body>
    {include file="../../components/header.tmpl"}
    <br>
    <br>
    <br>
    <br>
    <div id='center' class="main center">
        <div class="container">
        <div align="left">
    <h1>利用規約</h1>
    <hr>
    <div>
        <div>
            この規約（以下「本規約」といいます。）は,提供するすべての製品およびサービス（以下「本サービス」といいます。）
            の利用に関する条件を、本サービスを利用するお客様（以下「お客様」といいます。）と当社との間で定めるものです。
        </div>
        <div>1. 定義</div>
        <div>本規約では、以下の用語を使用します。 </div>
        <div>1.1. 「コンテンツ」とは、文章、音声、音楽、画像、動画、ソフトウェア、プログラム、コードその他の情報のことをいいます。 </div>
        <div>1.2. 「本コンテンツ」とは、本サービスを通じてアクセスすることができるコンテンツのことをいいます。 </div>
        <div>1.3. 「投稿コンテンツ」とは、お客様が本サービスに投稿、送信、アップロードしたコンテンツのことをいいます。</div> 
    </div>
        </div>
        <hr>
        </div>
    </div>
    {include file="../../components/footer.tmpl"}
    <script src="/~j2020tmD/sources/front/js/main.js"></script>

        <script src="/~j2020tmD/sources/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/~j2020tmD/sources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/~j2020tmD/sources/front/js/main.js"></script>
</body>

</html>